[2021-05-15 04:53] amalitsky commented on #1728
@fcisio, thanks for offering help, I'll ping you on Discord later on. For the sake of the thread I want to add couple of comments.

My use case is quite specific but in more generic terms it can be described as **getting one of default themes (from _presets_ package), potentially modifying it and "dumping" into DOM as CSS custom properties**. Is it a "valid" use case? By valid I mean something wor

[2021-05-17 07:37] hasparus opened #1750 "`gatsby-theme-code-recipes` can be removed"
I'm not sure if anybody noticed, but _Recipes_ section in the docs is broken.

We're using `gatsby-theme-code-recipes` for it, and the package is... _effectively internal_? as it doesn't have any documentation and it seems to be used only by our docs.

[![image](https://user-images.githubusercontent.com/15332326/118445746-1f176d00-b6ef-11eb-9f0a-b9f1b9baa72a.png)](https://www.npmjs.com/package/gat

[2021-05-17 08:06] hasparus opened #1751 "RFC: Can `@theme-ui/editor` be deprecated?"
`@theme-ui/editor` has about 1000 weekly downloads, and a few nicer alternatives mentioned in our Resources section.

I want to motion to deprecate `@theme-ui/editor` and in its place recommend alternatives and document how to build something like it.

Notable alternatives:

- @gillkyle's Theme UI Gallery: https://theme-ui-gallery.netlify.app/
- components.ai Theme Builder: https://components.ai/t

[2021-05-17 17:21] fcisio commented on #1728
We discussed a little bit, and I think that we can safely close this issue.

The use case for this was to use SCSS to handle all CSS instead of Emotion and Theme UI.
It's not a use case that we should see really often.

The package function as it should, if the user filters what is fed into the custom properties generator.

@amalitsky did you have more you wanted to discuss here or we can close th

[2021-05-17 18:12] amalitsky commented on #1728
Big thanks for your help and time spend with me on discord, @fcisio! Really appreciate it.

Yes, personally I'm good and can achieve what I need with filtering properties or writing my own ui-theme-to-css-custom-props export altogether. Please feel free to close the issue.

I would suggest to update package's README file to reflect that passing all the theme (i.e. tailwind from presets) into `make

[2021-05-17 20:28] hasparus commented on #1722
:rocket: Issue was released in [`v0.9.0-develop.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.9.0-develop.0) :rocket:

[2021-05-17 20:29] hasparus commented on #1728
I really dislike the _"silent failure"_ that's currently happening, and I think we have two ways to move forward.

1. Escape CSS Custom Properties to emit to make sure we always emit valid properties, and document the transformation in the docs.
2. Document the corner case and declare it as unsupported in the docs. Print an error to user's console if `process.env.NODE_ENV === "development"`.

[2021-05-18 05:57] lachlanjc commented on #1750
Oof, thanks for pointing this out! Considering I wasn't aware of that package I'm not sure how my face is on the npm page. 👀

[2021-05-18 17:16] johno commented on #1751
The Components AI theme builder is compliant with Theme UI by design. One of our goals with our tooling is to be able to "speak" different frameworks and libraries (including Theme UI).

[2021-05-19 07:27] #1750 closed, assigned to nobody

[2021-05-19 07:28] hasparus commented on #1702
Howdy :wave:
I'm closing this due to inactivity. Feel free to reopen if you still have this problem.

[2021-05-19 07:28] #1702 closed, assigned to nobody

[2021-05-19 07:54] #1265 closed

[2021-05-19 07:54] hasparus commented on #1265
We're releasing often enough for this to no longer be needed.

[2021-05-21 10:09] flo-sch commented on #1751
I have personally never used the editor itself, so might be biased by 👍 here, but I am in favor of minimizing the maintenance surface, especially before a stable v1.0 is released.
(Even though Theme Specifications arguably do not change too often, Editor feels like a nice-to-have feature that is not "core" to Theme UI, and maintenance could be separated)

[2021-05-21 21:15] #1684 closed, assigned to nobody

[2021-05-22 19:53] hasparus commented on #1720
PR https://github.com/system-ui/theme-ui/pull/1721 addressing this has been merged to develop.

[2021-05-22 19:53] #1720 closed, assigned to nobody

[2021-05-25 19:35] bernharduw opened #1774 "Paragraph margin can't be overridden by theme"
**Describe the bug**
Paragraph margins can't be changed via theming because the `m={0}` value is always added after applying the theme. This was first fixed in #1476, but reintroduced by #1560.

**To Reproduce**
I created a sandbox in https://codesandbox.io/s/aged-silence-42b7m
See the output - all 4 paragraphs should have margins applied.

**Expected behavior**
Margins should be set to 0 by defau

[2021-05-26 07:30] #1774 closed, assigned to nobody

[2021-05-26 07:37] hasparus commented on #1774
:rocket: Issue was released in [`v0.9.1-develop.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.9.1-develop.0) :rocket:

[2021-05-26 10:37] aaronadamsCA opened #1776 "Fix repository metadata for some packages"
**Describe the bug**
Some packages, like [@theme-ui/color](https://www.npmjs.com/package/@theme-ui/color), don't include repository metadata on NPM.

**To Reproduce**
Compare these two NPM packages:

- https://www.npmjs.com/package/@theme-ui/preset-base
- https://www.npmjs.com/package/@theme-ui/color

Only the first package lists its repository as https://github.com/system-ui/theme-ui.

**Expected

[2021-05-26 10:46] hasparus commented on #1774
:rocket: Issue was released in [`v0.9.1`](https://github.com/system-ui/theme-ui/releases/tag/v0.9.1) :rocket:

[2021-05-26 12:27] hasparus commented on #1776
Hey @aaronadamsCA! Thanks for the issue! I didn't know the concise format before :) Go with the one you prefer.

[2021-05-26 15:21] jeffscottward opened #1777 "Error when referencing theme values via useThemeUI after upgrading to @jsxImportSource"
**Describe the bug**
After learning I needed to upgrade to the alpha version for `/** @jsxImportSource theme-ui */` to work and doing that
https://github.com/system-ui/theme-ui/issues/1419#issuecomment-754561329, any references (when compiling) to the theme object come back undefined in my Next.js project. It does console.log `theme` correctly if I remove those references though ( but only in a no

[2021-05-26 15:49] jeffscottward commented on #1777
I just published an isolated && stripped down version of my project to isolate the problem.
https://github.com/jeffscottward/theme-ui-bug-test

It is correctly logging inside Global now but the other problem is the same.

[2021-05-26 15:57] jeffscottward opened #1778 "Exporting types correctly?"
**Describe the bug**
<img width="576" alt="Screen Shot 2021-05-26 at 11 54 29 AM" src="https://user-images.githubusercontent.com/1263486/119692169-30602800-be19-11eb-964d-9e99784b72da.png">
<img width="597" alt="Screen Shot 2021-05-26 at 11 54 36 AM" src="https://user-images.githubusercontent.com/1263486/119692170-30602800-be19-11eb-92aa-d352561d04d1.png">

When trying to deploy my next.js project

[2021-05-27 13:40] hasparus commented on #1777
Wait, just so we're clear here. That comment was pretty old. I released 0.9.1 two days ago, and even if you want to use 0.6, you can use stable 0.6, not alpha.

Does this problem occur in a stable version?

[2021-05-27 13:42] hasparus commented on #1778
Theme UI 0.3.1, the version you are using, is written in JavaScript. You can grab its types from DefinitelyTyped by _@types/theme-ui_.

Later versions of Theme UI, including current 0.9.1, are written in TypeScript, and ship their own types.

[2021-05-27 13:42] #1778 closed, assigned to nobody

[2021-05-27 13:44] #1776 closed, assigned to nobody

[2021-05-27 13:50] hasparus commented on #1776
:rocket: Issue was released in [`v0.9.2-develop.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.9.2-develop.0) :rocket:

[2021-05-27 13:50] hasparus commented on #1774
:rocket: Issue was released in [`v0.9.2-develop.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.9.2-develop.0) :rocket:

[2021-05-27 14:37] aaronadamsCA commented on #1776
Neither did I, I learned it from this repo!

Thanks for merging; I also filed https://github.com/renovatebot/renovate/pull/10281, so Renovate now has built-in support for Theme UI, which will work correctly as soon as v0.9.2 is released.

[2021-05-27 18:42] jeffscottward commented on #1777
@hasparus  Yes its the same - just tried it.
v0.9.1 and globally changed to `/** @jsxImportSource theme-ui */`

Just upgraded the test repo too I linked with latest theme-ui and its happening there too.
Clone it and take a look please? 🙏 Its a tiny test case that's stripped down so someone can diagnose quickly.

UPDATE: I think i missed this:
The switch from `import { Global } from '@emotion/core'

[2021-05-27 19:39] #1777 closed, assigned to nobody

[2021-05-27 20:12] jeffscottward opened #1782 "Type Error: Label element is expected to be a string?"
**Describe the bug**
<img width="519" alt="Screen Shot 2021-05-27 at 4 08 54 PM" src="https://user-images.githubusercontent.com/1263486/119890585-06386400-bf06-11eb-8df9-d930f6892f7e.png">
<img width="448" alt="Screen Shot 2021-05-27 at 4 09 12 PM" src="https://user-images.githubusercontent.com/1263486/119890587-06d0fa80-bf06-11eb-9895-5778df1f2569.png">

**To Reproduce**
Write some basic code wit

[2021-05-28 20:14] jeffscottward commented on #1778
Yup working nicely (mostly - filed one small bug) since, thanks!

[2021-05-28 20:40] hasparus commented on #1782
Yes, the `label` is a corner case. It's the string appearing in devtools. You can style nested label elements with `& label` selector.  https://emotion.sh/docs/labels

[2021-06-01 11:13] aaronadamsCA commented on #1598
Gatsby has fixed the upstream problem, and Theme UI no longer supports IE 11 anyway, so I'm closing this. Thanks!

[2021-06-01 11:13] #1598 closed, assigned to nobody

[2021-06-02 14:41] jorisw opened #1793 "Theme colors broken when viewing in Storybook, from 0.5.x up"
**Describe the bug**
When using Storybook, for some reason the colors in my theme.ts are _not_ translated from `blues.1000` for example to `color: var(--theme-ui-colors-blues-1000, #12193F);`.

If I use the same component in my Next/React app directly, the problem goes away.

If I downgrade ThemeUI all the way to `0.4.0-rc.14`, the problem also goes away and it works in both Next/React _and_ Story

[2021-06-03 08:31] hasparus commented on #1793
Both Theme UI and Storybook use Emotion, but they use different versions of it. (11 and 10, respectively). The problem occurs because since 0.5, Theme UI uses new Emotion, while Storybook still uses the old one. You can work around it by as described in https://github.com/system-ui/theme-ui/issues/1530#issuecomment-788945510.

[2021-06-10 20:25] #1782 closed, assigned to nobody

[2021-06-10 20:27] #1377 closed, assigned to hasparus

[2021-06-10 20:56] #1596 closed, assigned to nobody

[2021-06-11 02:53] hoffination opened #1814 "@emotion/core keyframes missing scope after update"
**Describe the bug**
Getting `TypeError: Cannot read property 'name' of undefined` when running a keyframe against `theme-ui` `9.1.0`
Error is coming from `this.name` referenced inside the `toString` function:

[code]

**To Reproduce**
For starters I'm updating from `0.3.1` so I'm a bit worried I've missed a step along the way...

First I'm defining a keyframe and using it inside my component like

[2021-06-11 06:26] hasparus commented on #1814
Hey @hoffination :wave: Thanks for the issue!

Could you send me your lockfile? (package-lock.json or yarn.lock)
Also, does it break on Theme UI 0.5.0 or 0.6.0? We updated to Emotion 11 in 0.5 I think, but I'm using keyframes in my projects and didn't see this problem 🤔

A workaround I see is calling that `toString` manually, but it's less than ideal...

[2021-06-13 17:03] mryechkin commented on #1530
@webcore-it thanks for the solution and the background info! Those exact steps helped solve the issue in our Storybook project (running version `6.2.9`)

Was looking to try out `theme-ui` in our existing component library implementation, and couldn't even get it to run - but this solved it :tada:

[2021-06-15 10:10] #1335 closed

[2021-06-15 17:31] hoffination commented on #1814
Hey @hasparus! Thanks for getting back so fast!

Sure! Here's my lockfile
[yarn.lock](https://github.com/system-ui/theme-ui/files/6657430/yarn.lock.txt)

Trying things out I still get the issue on `0.6.0` and `0.6.2`. I'll try the `0.5.0` alpha but I'll need to revert some of the other changes

[2021-06-15 18:11] hasparus commented on #1814
I think you'd need to try 0.4-alpha, actually. We bumped to 0.5 because of Emotion version update.
I'll give a shot fixing this soon and add a test case for `animationName: keyframe`.

Meanwhile — does

[code]

syntax work for you?

[2021-06-16 01:53] hoffination commented on #1814
Oh yeah!

[code]

totally fixes it for me!

I had some other usages though that broke initially until I took the `name` out of the description:

[code]

[2021-06-17 02:18] yunyu opened #1833 "Types not available for css prop with @jsxImportSource theme-ui"
**Describe the bug**
When I try using the `css=` prop in a file with jsxImportSource theme-ui set:

[code]

I get:

[code]

This is mentioned as a valid use case in the docs: https://theme-ui.com/sx-prop#raw-css

**To Reproduce**
1. Create a new file with `/** @jsxImportSource theme-ui */`
2. Create a component with ```const TestComponent = () => <div css={css`display: block;`} />;```
3. TypeScrip

[2021-06-17 12:35] sashalavron opened #1834 "Proper typescript support"
**Is your feature request related to a problem? Please describe.**
Hi. I am frustrated with lack of proper typescript support. Official docs recommends to use `get` function to access theme properties. It seems very unsafe, because `get` method basically disables the whole typescript support - it allows me to access to non-existing value and doesn't provide the explicit return type. Also, the `The

[2021-06-19 16:43] hasparus commented on #1335
:rocket: Issue was released in [`v0.10.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.10.0) :rocket:

[2021-06-19 16:43] hasparus commented on #1776
:rocket: Issue was released in [`v0.10.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.10.0) :rocket:

[2021-06-19 16:57] #1456 closed, assigned to hasparus

[2021-06-22 14:47] DanielTamkin commented on #64
https://theme-ui.com/motivation#how-is-this-different-from-styled-system is now a 404.
![image](https://user-images.githubusercontent.com/9532762/122946167-c2871d80-d33e-11eb-86a9-092f7e33bedd.png)
Womp Womp :(

[2021-06-23 07:20] hasparus commented on #64
Thanks @DanielTamkin! I'm gonna look for this page in our git history and set up some automation to ensure we don't lose stuff so easily.

Oh, it looks like it was moved to `/guides/motivation`. I edited the link in Jackson's post, but we're gonna redirect from `/motivation` anyway.

[2021-06-23 22:48] sergeylukin opened #1844 "When using __css vs sx"
Hi,

May I ask why did you use __css prop instead of sx here:
https://github.com/system-ui/theme-ui/blob/9343cf8358459486a49d83e66843c09d0bcfbd87/packages/components/src/Select.js#L31

Thanks :)

[2021-06-24 04:56] lachlanjc commented on #1844
That's only for internal usage, so the styles get overwritten by sx. Just use sx in your Theme UI projects!

[2021-06-24 04:56] #1844 closed, assigned to nobody

[2021-06-27 12:25] yesnotnode commented on #888
Did you ever get this sorted? Been having issues myself

[2021-06-28 07:12] hasparus commented on #888
Hey @yesnotnode, do you have any reproduction? Or code snippets?

Here's a CodeSandbox I just made: https://codesandbox.io/s/youthful-antonelli-g4ts9?file=/src/App.js

I've been puzzled for a few seconds myself, because I initially wrote

[code]

instead of

[code]

but it definitely works if you wrap it in `url()`

[2021-06-28 13:02] yesnotnode commented on #888
@hasparus I appreciate you getting back with me, I ended up figuring out that syntax shortly after I posted! Took me way too long to find my way to the right string but it definitely works just like you said!

[2021-06-28 17:50] rafinskipg opened #1846 "Attempted import error: 'Themed' is not exported from '@theme-ui/mdx'."
**Describe the bug**
Updated theme ui and deps to 0.10.0

**To Reproduce**
Try to launch app

Not happens on 0.9.2

[code]

[2021-06-28 20:11] hasparus commented on #1846
Hey @rafinskipg! Thanks for the issue.

Do you have any reproduction?

https://codesandbox.io/s/vigilant-aryabhata-7m7pp?file=/src/App.js

I just made a qucik CodeSandbox to check this, and it seems that Themed can be properly imported in a fresh project, so it might be something with your setup.

Could I see your lockfile? (package-lock.json or yarn.lock)?

[2021-07-01 08:44] #1512 closed, assigned to nobody

[2021-07-01 10:39] rafinskipg commented on #1846
Hello, note that i'm not importing any "themed" anywhere, but the error happens somewhere inside the dependencies.

I will try again and send more info

[2021-07-01 12:27] hasparus commented on #1846
There might be an old version of `@theme-ui/mdx` in your `node_modules`. The root package `theme-ui` is reexporting `Themed` from it.

[code]

[2021-07-05 12:35] sergeylukin opened #1857 "Grid gap property not reading theme space values"
**Describe the bug**

Hi, `<Grid />` `gap` property doesn't respect spaces from connected theme while `sx` does.

**To Reproduce**
Steps to reproduce the behavior:

1. Setup basic example with theme:

[code]

**Expected behavior**

`<Grid gap={2} />` resulting in grid with gap of 4px

[2021-07-05 14:40] hasparus commented on #1857
Hey @sergeylukin, do you maybe have a reproduction repo or CodeSandbox? It seems to work in the docs.

![image](https://user-images.githubusercontent.com/15332326/124487976-9b553500-ddaf-11eb-8250-c152bfd813bf.png)

What versions of Theme UI and Emotion do you have? Are you maybe using Theme UI inside of Storybook?

[2021-07-05 14:42] lachlanjc commented on #1857
Fwiw, this works fine for me! So more likely a setup issue.

[2021-07-05 17:18] hasparus commented on #1857
The problem might be caused by context version mismatch (and serve as another reason for us to move Emotion to peerDeps), so I'd look for the cause in _package.json_.

[2021-07-06 09:57] sergeylukin commented on #1857
Will export my setup to codesandox during today-tomorrow and provide a proof or will prove myself wrong, thank you @lachlanjc @hasparus !

[2021-07-06 17:50] sergeylukin commented on #1857
@hasparus you're right, I found 2 versions of `@emotion/react` in my `yarn.lock` (I'm using `11.4.0` while theme-ui is using `11.1.1`):

<img width="1121" alt="Screen Shot 2021-07-06 at 19 43 18" src="https://user-images.githubusercontent.com/720339/124637496-7be30880-de92-11eb-84e7-f06cbb369270.png">

...because I've used @emotion/react internals in my project. What's the solution as long as I do

[2021-07-06 19:08] lachlanjc commented on #1857
Check this out! https://github.com/system-ui/theme-ui/issues/1531#issuecomment-787517891 There's some other issues with that label with more conversations as well.

[2021-07-06 19:08] #1857 closed, assigned to nobody

[2021-07-07 06:48] hasparus commented on #1857
@sergeylukin, you can either use yarn resolutions to enforce the new Emotion version on Theme UI or downgrade yours (does 11.4 have anything new you're using)?

We're definitely moving Emotion to peerDeps in next bigger release, @lachlanjc :/

[2021-07-07 07:37] sergeylukin commented on #1857
@hasparus makes sense, thank you! 🙏

[2021-07-09 16:54] lachlanjc commented on #1846
I'd try `npm ci` to reinstall?

[2021-07-10 02:34] jeffscottward opened #1859 "Safari Specific className Mismatch Bug"
**Describe the bug**
In safari only, there is an issue with client/server css name mismatches.

[code]

**To Reproduce**
I have verified this in a very slim repo.
Please clone and run here and look at the logs in safari.
https://github.com/jeffscottward/safari-bug

**Expected behavior**
Not to error

**Screenshots**
<img width="833" alt="Screen Shot 2021-07-09 at 10 33 32 PM" src="https://user-ima

[2021-07-12 18:06] jeffscottward opened #1861 "borderCollapse ::: Type 'string' is not assignable to type 'StylePropertyValue<BorderCollapse>'"
**Describe the bug**
Attempt to use `borderCollapse` with either correct value ( `'collapse`,`'separate'` ) and typescript will throw errors.

**To Reproduce**
In the `styles` object, use `borderCollapse` on `table` or `th` or `td` and you will get an error.

[2021-07-13 11:04] hasparus commented on #1861
Okay, I don't have any code snippet, but it seems that the problem you're getting occurs because you try to assign a string with value "collapse" and type string to a property that accepts values of type ` "collapse" | "separate" |  "-moz-initial" | "inherit" | "initial" | "revert" | "unset"`.

We could add `string & {}` to _BorderCollapse_ type, but it's in `csstype`'s repo.

![image](https://use

[2021-07-13 14:29] lhguerra opened #1863 "Responsiveness of Aspect and AspectImage components"
I'm currently implementing a news list with an image in each item, and these images have 4:3 ratio in mobile devices and 16:9 ratio in desktop devices. Would it be possible or even make sense for the Aspect and AspectImage components to handle this kind of thing? I imagine an API like this:
[code]
Where each item in this array of ratios would be a definition of a breakpoint, exactly like responsiv

[2021-07-13 15:59] jeffscottward commented on #1861
Glad you already had a solution for it.
Wondering why this doesn’t happen for something like display block, flex,
etc if the values are string based. Why is this an outlier?

[2021-07-13 17:17] hasparus commented on #1861
Well, it depends on the definition from `csstype`. I'd guess that the reasoning here is that no "custom value" for borderCollapse is legal, and stuff like `borderEndRadius` can be `4px` or even `calc(4px * var(--something))`.

[2021-07-15 18:31] jeffscottward commented on #1861
Display doesn’t have custom values either though?
Basically should I file a bug for this with css type?

On Tue, Jul 13, 2021 at 1:17 PM Piotr Monwid-Olechnowicz <
***@***.***> wrote:

[2021-07-16 15:57] hasparus commented on #1861
I wouldn't. `csstype` is generated from `mdn/data` so it's a bit more complex too.

In general this is intended TS error to fix in your codebase.

[2021-07-18 11:57] hasparus opened #1865 "`@theme-ui/color-modes` lacks documentation"
I feel that we should advise people to combine low-level Theme UI packages to use only what they need.
For example, most folks won't need MDX Provider. Some Theme UI users don't even use color modes. Some people won't use Components and will instead React-Aria, Radix UI or Reakit.

_@theme-ui/color-modes_ and _@theme-ui/theme-provider_ could use defining what's public API in them and what's not. W

[2021-07-19 17:59] hasparus commented on #1833
Thanks for the issue, @yunyu!

I made a PR with a fix already, but until it's released you should be able to work around this in your codebase by adding `css` to `SxProp`.

[code]

Here's a CodeSandbox with the snippet above https://codesandbox.io/s/theme-ui-css-workaround-55sf0

[2021-07-26 03:42] shuyang0129 commented on #1859
I have the same issue

[2021-07-27 06:15] #1833 closed, assigned to hasparus

[2021-07-27 06:24] hasparus commented on #1833
:rocket: Issue was released in [`v0.11.0-develop.1`](https://github.com/system-ui/theme-ui/releases/tag/v0.11.0-develop.1) :rocket:

[2021-07-27 06:36] hasparus commented on #1859
I won't have access to a MacOS for a while. Does this lead to any visible bug, or is it just a warning? (I guess I'm asking if you could slap `suppressHydrationWarning` there for a moment?)

@lachlanjc have you encountered this problem?

[2021-07-27 09:13] gormonn opened #1870 "default padding inside Button"
**Describe the bug**
a pure Button component has unexpected padding properties

[2021-07-27 14:32] lachlanjc commented on #1870
Components are meant to be styled, not a reset. You can override these defaults with your theme variants or the sx prop. Let us know if we can help!

[2021-07-27 14:32] #1870 closed, assigned to nobody

[2021-07-27 21:27] seisenreich opened #1872 "sx prop not applied in Storybook, but applied successfully in Next.js app"
**Describe the bug**
Me and my team use Storybook, Next.JS, Theme UI and emotion/css + emotion/styled with TypeScript to build a frontend with a custom UI kit.
After using Styled System with Styled Components we decided to merge over to Theme UI with emotion due to better maintenance and active community.

We faced a few problems to get that tech stack working.
One of them being storybook not supp

[2021-07-27 21:33] fcisio commented on #1872
Hey @seisenreich I believe this is a duplicate issue.

[2021-07-27 21:38] seisenreich commented on #1872
Hi @fcisio ,

I thought so at first, too.
But the workaround stated [here](https://github.com/system-ui/theme-ui/issues/1530#issuecomment-788945510) in the issue only fixed storybook from throwing errors and enabled me to use theme variables in there.

What didn't get fixed was the support of the sx prop.
So I opened a separate one.

I don't know if the problem is caused by the same thing, though.

[2021-07-27 21:44] seisenreich commented on #1872
Also the styles in my case look a bit different.
The number of classes applied to the elements does not differ between Next and Storybook.

![Screenshot_20210727_234335](https://user-images.githubusercontent.com/6771616/127231610-3fa827ff-5351-4080-91d3-6d8618482189.png)
![Screenshot_20210727_234245](https://user-images.githubusercontent.com/6771616/127231613-9063aad4-5b3e-489f-ab71-ec4e157e595d.p

[2021-07-28 10:44] hasparus commented on #1872
Okay, so the JSX pragma running in Storybook doesn't know about `sx` prop.
Is your Storybook using the same Babel config as your Next.js app?

**Edit:** I cloned your repo and managed to fix it.

Add the following to _.storybook/.babelrc_ to tell Storybook about your Babel setup.

[code]

---

Explanation: The part of configuration that makes `sx` prop work on intrinsic elements like `<div />` is

[2021-07-28 10:59] #1872 closed, assigned to nobody

[2021-07-28 15:29] fcisio commented on #1863
Hey @lhguerra
Personally, I don't use these components. I am watching the upcoming `aspect-ratio` CSS property, and when it is supported we'll potentially get rid of these components in favor of a simple aspect ratio scale linked to the property.

In the meantime, you can take a look at [this comment](https://github.com/system-ui/theme-ui/issues/1638#issuecomment-817484080) where I have a snippet

[2021-07-29 20:34] aaronadamsCA commented on #1247
I did this:

[code]

It feels like this shouldn't be necessary; but it's a simple enough workaround that I'm not too fussed about it.

[2021-07-30 07:59] cudr opened #1875 "`@theme-ui/color-modes` framework-agnostic API"
**Is your feature request related to a problem? Please describe.**
We don't have API to use color modes without React.

Would be great if we will have public API to use theme with color modes.

**Describe the solution you'd like**
Extract and export [core logic](https://github.com/system-ui/theme-ui/blob/5a378bd6a478949778095cdf3e29b8d9293f2076/packages/color-modes/src/index.tsx#L187)

**Additiona

[2021-07-31 08:59] 0-Captain opened #1876 "Docs don't tell you to use ThemeProvider early enough."
**Describe the bug**
the color value can't be converted to real color
code:
![image](https://user-images.githubusercontent.com/36297071/127734859-784131f1-23b6-469e-8045-bbc813854734.png)
product:
![image](https://user-images.githubusercontent.com/36297071/127734709-5f922ac2-a9fb-4cc3-94fa-8aee3f31f661.png)

**To Reproduce**
Steps to reproduce the behavior:

1. yarn create next-app --ts
2. yarn ad

[2021-07-31 14:53] hasparus commented on #1876
Hey @0-Captain, Theme UI doesn't know about your theme yet. You need to pass your theme object to `ThemeProvider` so the JSX pragma can pick `primary` from React context.

Take a look at the third paragraph in _Getting Started_.

https://theme-ui.com/getting-started#getting-started

I made the required change in your CodeSandbox, here it is:

https://codesandbox.io/s/theme-ui-repro-you-gotta-use-p

[2021-07-31 18:19] hasparus commented on #1876
Hey @0-Captain, I made a small change to the index page and _Getting Started_ section in the docs. (#1877)

Here's the preview of new index page: https://theme-ui-iuu8kzl45-systemui.vercel.app/#create-your-theme
And the same thing in _Getting Started_: https://theme-ui-iuu8kzl45-systemui.vercel.app/getting-started

Do you think this would be more welcoming to new Theme UI users?

[2021-07-31 19:31] #1876 closed, assigned to hasparus

[2021-08-01 04:19] 0-Captain commented on #1876
Great, I think it would be better to take the CodeSandbox as an example in the docs

[2021-08-02 05:35] lachlanjc commented on #1875
Interesting. What inputs/outputs would you expect from this API?

[2021-08-10 00:05] a-y-u-s-h commented on #227
@adamsoffer @hasparus Can you explain that a bit more. @adamsoffer 's adding something to `.babelrc` trick worked earlier for me in Javascript as well. What do I need to change to make it work again?

[2021-08-10 09:27] hasparus commented on #227
Hey @a-y-u-s-h. Are you using _automatic_ or _classic_ JSX runtime?

We have some info on automatic runtime config in the docs https://theme-ui.com/guides/jsx-pragma#automatic-jsx-runtime

[2021-08-10 10:58] a-y-u-s-h commented on #227
@hasparus I'm not very familiar with it. Here's what my babel entry looks like in `package.json` now after you mentioned it, I'll try out a few more things and let you know if any of it works. Let me know if anything's wrong about this, I can't figure it out.

[code]

No luck with this either -

[code]

[2021-08-10 11:13] hasparus commented on #227
Could you define what "no luck" means in this case, @a-y-u-s-h? What errors do you see?

You don’t need plugin-jsx-pragmatic if you’re already using Automatic runtime. You’ll end up with two jsx functions automatically imported for you.

Do you get errors at runtime? Or does TypeScript lack knowledge about the `sx` prop?

[2021-08-10 11:20] a-y-u-s-h commented on #227
I'm using Javascript NextJS. No errors, just that when I use sx prop like this anywhere:

[code]

I'm getting this as the rendered output `[object Object]` which I guess means it's not working:

![screenshot_20210810_164947](https://user-images.githubusercontent.com/19586719/128858142-5bdfd1ba-a253-430b-960f-6b8edae3d026.png)

Note: I've also edited my `jsconfig.json` file and the results are same

[2021-08-11 07:01] hasparus commented on #227
@a-y-u-s-h, this should help you: https://nextjs.org/docs/advanced-features/customizing-babel-config

I'm not sure if `"babel"` property in package.json is accepted in Next.js. I'd go with `.babelrc` like they say in the docs.

[code]

[2021-08-13 23:06] rgreenhalge commented on #892
@suaurial @flo-sch  I am taking a slightly different approach which some might prefer:
[code]

[2021-08-14 07:32] flo-sch commented on #892
That works too, was there a specific reason to define `disabled` as a variant itself though?

(Perhaps to apply it on a `<a />` which do not have css `:disabled` selectors?)

[2021-08-18 07:00] sampoder opened #1902 "Force a colour theme through ThemeProvider"
**Is your feature request related to a problem? Please describe.**

When using a theme from a package, in my case often @hackclub/theme, the packaged theme often has a light and dark mode. This is great when you want both light and dark mode, but sometimes you only want one of the two. As the config happens in the theme file, you have to use extend theme to remove a dark mode. Which can clutter th

[2021-08-18 08:56] hasparus commented on #1902
Hey Sam!

Have you encountered any problems with modified theme through nested providers?

[code]

?

[2021-08-18 10:27] sampoder commented on #1902
Hey @hasparus! That's a smart approach! Though, I'd still prefer a prop as it would simplify it more (and be a bit more understandable) but I'm going to switch over to using this for now, thanks so much!

This is what I ended up using to force a light mode:

[code]

[2021-08-18 11:44] hasparus commented on #1902
Fair. I'm a tad reluctant to include this, because it can be implemented in userland, but let's keep this issue open and see if other people also want it.

[2021-08-18 14:25] mryechkin commented on #1902
@hasparus +1 to that. IMO the approach above is simple, and is easy to understand what's going on. No need to clutter the provider with additional props. This belongs in userland, as you said :+1:

[2021-08-19 03:49] sampoder commented on #1902
Fair enough, that makes sense to me. Thanks all for the help and convo :)

[2021-08-19 03:49] #1902 closed, assigned to nobody

[2021-08-20 14:18] fcisio commented on #1859
@hasparus I'm working on MacOS, and I've had this error consistently for a while.
It does seem to be a rehydration warning, and for me only occurs in development; It doesn't carry to production.

It also doesn't cause any actual bug that I was able to notice.

[2021-08-25 14:57] hasparus commented on #1833
:rocket: Issue was released in [`v0.11.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.11.0) :rocket:

[2021-08-30 10:35] lorenzoalfieri commented on #1793
I had the same issue but solved it by passing all variant to sx props instead of using variant props of component.

[2021-09-03 14:48] aaronadamsCA opened #1918 "Type '"dialog"' is not assignable to type 'StylePropertyValue<ZIndex>'."
**Describe the bug**
Similar to #1861, but different enough to be worth a bug.

TypeScript 4.4.2, Theme UI 0.11.1.

This interface:

[code]

Is refusing to accept a string value for the `zIndex` prop:

[code]

Error message reads:

I did recently re-implement my theme using `makeTheme`, here's the relevant part:

[code]

I am going to work around this by updating my type to `StylePropertyValue<Pro

[2021-09-03 20:13] aaronadamsCA opened #1919 "Support TypeScript 4.4 `exactOptionalPropertyTypes`"
**Is your feature request related to a problem? Please describe.**
Typescript 4.4 introduced a new feature, [`exactOptionalPropertyTypes`](https://www.typescriptlang.org/tsconfig#exactOptionalPropertyTypes). The default value is `false` but the recommended value is `true`.

**Describe the solution you'd like**
Theme UI needs some type improvements to work correctly with this setting enabled.

**Ad

[2021-09-05 14:04] watsuyo opened #1920 "Type error: Property or signature expected. ` ... 157 more ...`"
**Describe the bug**
When deploying a Next.js project to vercel, I get the error shown in the screenshot below.

The error location is . /node_modules/@theme-ui/preset-sketchy/dist/declarations/src/index.d.ts.
For some reason, the ` ... 157 more ...` is omitted.

<details>
<summary>package.js</summary>

[code]

</details>

**Screenshots**
![image](https://user-images.githubusercontent.com/13050604

[2021-09-06 15:34] watsuyo commented on #1920
Is there any way to solve this problem?

[2021-09-07 02:28] timfee opened #1921 "ThemeProvider can be accidentally imported from Emotion. Consider renaming to ThemeUIProvider?"
**To Reproduce**
See: https://codesandbox.io/s/silent-surf-4omzj
Using the latest version of everything on Next.js

**Expected behavior**
Based on [the documentation](https://theme-ui.com/guides/global-styles):

This isn't happening in my instance. While I don't mind manually adding stuff, I wanted to make sure I wasn't doing anything awry :)

[2021-09-07 06:38] hasparus commented on #1920
Hey @watsuyo, I'll try to solve or at least research this today. For now, you can disable typechecking in Next.js builds.

Did this error occur in TypeScript 4.3?

[2021-09-07 10:39] hasparus commented on #1921
Hey @timfee 👋 Thanks for the issue!

You imported `ThemeProvider` from `@emotion/react`, not from `theme-ui`.

It's kind of our fault — in the world with auto-imports we should have used a unique name.

[2021-09-07 14:22] timfee commented on #1921
Ah man, tricky :)

I also wonder if having more context in documentation could help. For instance, the only real place with all of the boilerplate code is in Getting Started, and it’s tough to find theme provider details and examples elsewhere on the site.

Thank you for the help!!

[2021-09-07 16:55] watsuyo commented on #1920
Thank you for reply.
I tried TypeScript 4.3 and got the same resul.

I tried ignoreBuildErrors and build passed.

[2021-09-08 07:53] hasparus commented on #1920
Thanks for this issue @watsuyo! It's pretty hilarious actually — we managed to break the build system.

![image](https://user-images.githubusercontent.com/15332326/132465191-0e916cf4-b335-4f10-8726-4d0638842f87.png)

This "157 more" was emitted to our typings in the build.

I'm publishing a new version with a fix, and adding a test to ensure it doesn't happen again.

---

On a side note, I'm sorry

[2021-09-08 08:42] #1920 closed, assigned to nobody

[2021-09-08 16:36] hasparus commented on #1918
I'm working on a PR that will expose `Property.ZIndex` from Theme UI with the knowledge of your theme (so `"dialog"` will be autocompleted). My first attempts led to a really unperformant TypeScript compilation, so that's taking some time, but it's coming. Sorry for tardiness :)

[2021-09-08 16:44] hasparus commented on #1846
Closing because we can't reproduce.

[2021-09-08 16:44] #1846 closed, assigned to nobody

[2021-09-09 15:27] aaronadamsCA commented on #1918
All good, the workaround took a while to figure out but works well enough! Will keep an eye for a fix so I can remove it though. Thanks 👍

[2021-10-01 09:48] xxillya commented on #1070
Hello! I am having the same issue. Have you figured out how to solve it?

[2021-10-03 01:26] xiaoxinghu opened #1964 "color-modes: printColorModeName option not working properly"
**Describe the bug**
`printColorModeName` doesn't seem to work, at least with nextjs.

**To Reproduce**
I have created an [example repo](https://github.com/xiaoxinghu/next-with-print-issue), which is a simple copy of the `next` project in the examples folder. I did the following extra to make it work:
- install `typescript` and `@types/react` as it's complained after `yarn`
- add `printColorModeNa

[2021-10-03 02:12] lachlanjc commented on #1964
Thank you for the repo + details!

[2021-10-04 15:35] TimMensch opened #1965 "Flex properties are incomplete in TypeScript declarations"
**Describe the bug**
The `Flex` component is missing props. For instance, when setting up a Flex container, you can't use the `alignItems` prop:

![image](https://user-images.githubusercontent.com/530873/135880409-cd69acfa-5e6b-4e86-824c-ac718baba847.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Start with a sample project that uses TypeScript.
2. Create a `Flex` component with an `a

[2021-10-04 15:36] #1965 closed, assigned to nobody

[2021-10-04 15:37] TimMensch commented on #1965
Using the `sx` prop instead.

[2021-10-05 17:25] MohammadSahabuddin opened #1966 "it is very sad that theme ui have no support to use local or custom fonts."
I have try to add custom font to my next js project but I am disappointed by seeing that there have no way to add custom font in theme-ui. I have read the documentation but I didn't find any solution.

[2021-10-05 17:50] fcisio commented on #1966
Hi @MohammadSahabuddin
Font loading is not something that is usually handled by libraries like this one. How you load a font is gonna be specific to the type of font (hosted, local) and your environment (Next, Nuxt, CRA, Gatsby, ...).

This is because a lot goes into loading, preloading, caching, preventing FOUT...
This thread might be useful to you [Preload custom font with Next.js](https://stack

[2021-10-05 18:29] #1966 closed, assigned to nobody

[2021-10-06 13:51] LeonardoGentile commented on #953
@jxnblk any update on that API?
I've encounter this problem today by integrating `gatsby-theme-blog`, `theme-ui` and `@theme-ui/typography`.
I couldn't find any hint in the docs about this

[2021-10-07 00:40] LeonardoGentile opened #1969 "Typography.js plugin overrideStyles not called"
It seems that Typography.js `overrideStyles` function defined inside the themes is not called when calling `toTheme`.

Example
[code]

`wp2016` defines an [overrideStyles](https://github.com/KyleAMathews/typography.js/blob/master/packages/typography-theme-wordpress-2016/src/index.js#L27) function that will modify part of the theme when instantiated with plain `typography` package.

For example, fo

[2021-10-07 05:50] hasparus commented on #1969
Hey @LeonardoGentile :wave: Thanks for the issue!

Yeah, that makes sense. `@theme-ui/typography` doesn't get as much attention as other packages. I just went through the Git history from the point the file was created and we never did call `overrideStyles` :(

If don't have bandwidth to work on this one, but if somebody wants to pick this up:

I made [a small branch](https://github.com/system-ui/

[2021-10-07 08:29] hasparus opened #1971 "Migrate from Yarn v1"
Yarn 1 seems to be... _less maintained_ than it used to be and bugs start to cause problems in Theme UI maintenance.

See [Yarn's bug report template](https://raw.githubusercontent.com/yarnpkg/yarn/master/.github/ISSUE_TEMPLATE/bug_report.md) and https://github.com/yarnpkg/yarn/issues/7734#issuecomment-819110350.

I'm not a huge fan of `npm@7`, though I'm not very opinionated here. I'd give `pnpm`

[2021-10-09 04:46] lachlanjc commented on #1971
Yeah, I'm not sure what the best practice is these days. Yarn v2 seems like it was never embraced, but I use npm 7 at work & it's not great either. I hear good things about https://turborepo.com/ but haven't seen it being used in open source projects yet.

[2021-10-13 07:46] webcore-it opened #1976 "v0.11.x renders div for ThemeProvider instead of nothing and breaks some designs"
**Describe the bug**
Updating from 0.10.0 to 0.11.x did break some of our grid designs when a ThemeProvider is used as first child of the Grid component.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codesandbox.io/s/themeui-themeprovider-issue-xp7qq?file=/src/App.js
2. Check the rendered page. You see a Grid with a the column template of `'1fr 1fr 1fr'`.
3. Check the code.

[2021-10-13 08:37] hasparus commented on #1976
Well, this is why v0.11 was a breaking change. This `div` is needed in nested theme providers to change values of custom CSS properties.

The ThemeProvider in your example has the following CSS class.

[code]

Unfortunately, this is needed for SSR, and people mostly expect SSR to work out of the box without color flashes.

If you're interested in overriding context without automatically merging co

[2021-10-13 08:37] #1976 closed, assigned to nobody

[2021-10-13 08:58] webcore-it commented on #1976
Thanks for the info and the suggestion to import the ThemeProvider from core. Currently we do not use color modes and can probably go with this approach.

[2021-10-15 22:35] fcisio commented on #1971
I'm having the same dilemma on my stack. Going away from Yarn would also mean dropping yarn workspaces.
I kinda feel like Yarn v2 could be great, I heard good things. But I have not yet actually used it with anything.

[2021-10-16 07:27] hasparus commented on #1971
@fcisio https://pnpm.io/workspaces :D

[2021-10-19 10:59] 5parkp1ug opened #1979 "[@theme-ui/prism] Unable to add syntax highlighting for unsupported languages."
As per the docs, in order to enable the syntax-highlighting for the unsupported languages one must import the language and pass a custom Prism instance to the Theme UI component:

[code]

However, while doing so, I am getting the following error -
[code]

What am i doing wrong here? I believe I shouldn't install `prismjs` manually as it could interfere with the underlying installation of `@theme-u

[2021-10-20 01:07] rafaelrinaldi commented on #1530
FYI I was able to fix that by using [pnpm](https://pnpm.io)'s [`overrides` feature](https://pnpm.io/package_json#pnpmoverrides). This is what I have added to my `package.json`:

[code]

Note that I must run Storybook via `pnpm` in order for this to work:

[code]

[2021-10-26 12:51] #1372 closed, assigned to nobody

[2021-10-27 07:31] lachlanjc commented on #1037
This is live as of last winter!

[2021-10-27 07:34] lachlanjc commented on #869
Ah, turns out this is an issue with content blocks—since there’s a `comment` class, ad blockers hide it as part of hiding “comments” on websites. Won’t fix.

[2021-10-27 08:01] lachlanjc commented on #1969
@LeonardoGentile Curious—what do you use Typography.js for in concert with Theme UI? I’ve never seen the appeal or used it so never contributed to it personally.

[2021-10-27 08:10] lachlanjc commented on #1139
This should be fixed between those PRs & https://github.com/system-ui/theme-ui/pull/1862!

[2021-10-27 09:12] #1600 closed, assigned to nobody

[2021-10-27 20:08] lachlanjc commented on #510
Looks like `gatsby-theme-docz` is requiring Theme UI 0.2.38, which is super outdated at this point. I'm closing this issue since we've fixed this issue on our end, but Docz should update so they're getting the latest work!

[2021-10-27 20:12] lachlanjc commented on #979
I believe our recent work on color modes has implemented this for colors—since we now use a wrapping div for ThemeProvider, any element inside the ThemeProvider component can consume the colors:
![image](https://user-images.githubusercontent.com/5074763/139139716-0a9797f3-48a0-4439-bdce-d35446b68a17.png)

[2021-10-27 23:17] aaronadamsCA opened #1984 "[@theme-ui/color] Allow multiple color manipulation methods"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to easily set both lightness and alpha values for the same color value using the `@theme-ui/color` utilities.

**Describe the solution you'd like**
`bg: alpha(lightness("muted", 0.95), 0.95)` or similar.

**Describe alternatives you've considered**
Not sure. Current TS error:

[code]

There might be a way around

[2021-10-27 23:28] aaronadamsCA commented on #1984
I did find a syntax that works, but it's not the nicest: `bg: (t) => alpha(lightness("muted", 0.95)(t), 0.95)(t)`

[2021-10-28 03:48] lachlanjc commented on #1984
Interesting, thanks for the well-written issue. To clarify, is this an issue only with our types, or with the functions themselves as well?

[2021-10-28 03:50] lachlanjc commented on #1863
Yeah, these components are definitely heading in the legacy direction with `aspect-ratio` being supported in all modern browsers. https://caniuse.com/mdn-css_properties_aspect-ratio

[2021-10-28 06:26] hasparus commented on #1984
@lachlanjc I’d say this is a feature request for new function.

I’d probably try to build on top of `getColor` from `@theme-ui/color` and `hsla` from `polished`.

[2021-10-28 07:52] aaronadamsCA commented on #1984
Yep, I filed this as a feature request. It may just be a limitation of the chosen syntax, but I'm increasingly finding I'd like to have easy control of both the L and A values in an HSLA value.

It's more or less the way Material You works in Android 12, for instance. It's a very powerful way to accept any input colour and make it appropriate to a given UI context.

Maybe a chained syntax would be

[2021-10-28 09:32] hasparus commented on #1600
:rocket: Issue was released in [`v0.12.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.12.0) :rocket:

[2021-10-28 09:32] hasparus commented on #787
:rocket: Issue was released in [`v0.12.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.12.0) :rocket:

[2021-10-30 02:03] lachlanjc commented on #556
Implemented then decided against doing this here: https://github.com/system-ui/theme-ui/pull/1983#issuecomment-953622393

[2021-10-30 02:03] #556 closed

[2021-11-02 01:08] LeonardoGentile commented on #1969
@lachlanjc simply put I wanted to use a typography.js theme.
Not being a designer I wanted the various spaces and font-sizes to be already determined for me for a defined set of fonts that work/look well together.

Given that on theme-ui front page it's claimed that it will work out of the box with typography.js I wanted to try.
But as I've understood not many people uses the typography.js package

[2021-11-02 08:29] hasparus commented on #1969
@LeonardoGentile, well... if you're courageous, we'll gladly welcome another contributor :)

The claim it'll work out of the box is probably as old as the integration, and frankly speaking, this might be a first issue with a bug about it.

If you're not building an app where Typography.js is selected by user, copying the Typography theme you like straight to your Theme UI theme might suffice.

[2021-11-04 14:31] iampava commented on #979
Sweet! 👍

[2021-11-05 18:30] iChip commented on #1530
For the yarn users out there - my less configuration-related workaround was:

  "resolutions": {
    "@emotion/react": "^11.4.1"
  },

[2021-11-09 12:53] ammar88 opened #2006 "Make theme values passed to css and sx properties typesafe"
**Is your feature request related to a problem? Please describe.**
I'd like to find a way to make the value I pass to variant (and other theme aware properties) type safe and have it provide autocompleted values from my theme. Currently I can pass any string to variant and it will fail silently since variant accepts any string.

``<SomeComponent sx={{ variant: 'accepts any string and produces no e

[2021-11-11 04:43] lachlanjc commented on #1178
Have you seen this issue since? Worth keeping the issue open?

[2021-11-11 07:36] #1178 closed

[2021-11-11 10:40] aaronadamsCA opened #2007 "Re-export `Global` from `@emotion/react`"
**Is your feature request related to a problem? Please describe.**

- We need `Global` from `@emotion/react`.
- Our monorepo uses `eslint-plugin-import/no-extraneous-dependencies` to help us ensure we don't import from any package not defined as a dependency in `package.json`. Without this, we've learned the hard way that Yarn installs and Webpack builds can break without notice.
- This means we s

[2021-11-11 19:16] lachlanjc commented on #2007
Appreciate the thorough explanation! Makes sense to me, so would totally accept a PR for this.

[2021-11-12 19:37] TranquilMarmot opened #2010 "How to use variants with Box, Flex, etc.?"
Looking at the docs here: https://theme-ui.com/components/variants

It says:

But it does not specify how to use `variant` with those components. I see with other components, there is a specific "Variant group" in the table (i.e. `Grid` goes with `grids`, `Button` goes with `buttons`) but there's no variant group for `Box` or `Flex`.

Using the `Theme` type to specify a theme in TypeScript, there

[2021-11-13 20:00] lachlanjc commented on #2010
Ah, we should totally make this clearer! If there's no theme key, that means you can use any variant from anywhere in the theme, but it needs a category prefix. E.g. you can write `<Grid variant="cards.sunken"` to make a Grid look like a Card, or `variant="layout.container"` to add Container's styling. (See the former [in use here](https://sourcegraph.com/github.com/hackclub/theme/-/blob/docs/page

[2021-11-13 20:00] #2010 closed, assigned to nobody

[2021-11-13 20:04] lachlanjc commented on #2006
Thanks for the issue. We are working on this in https://github.com/system-ui/theme-ui/pull/1090, but it’s been a big project. Help appreciated!!

[2021-11-15 03:20] kharann opened #2012 "VSCode plugin for autocomplete and previews"
**Is your feature request related to a problem? Please describe.**

I've worked with many different ways of styling in React. Everything from stitches, styled components to tailwindcss. One thing that stood out to me with tailwindcss was the great tooling around it, which I felt was a bit lacking in theme-ui

**Describe the solution you'd like**
I would like to propose a tool like https://marketpl

[2021-11-15 13:00] MuhammadJamaluddin opened #2013 "Custom SVGs for Radio & Checkbox components"
**Is your feature request related to a problem? Please describe.**
I don't think Theme UI should be opinionated on which SVGs should be used for the `Radio` & `CheckBox` components

**Describe the solution you'd like**
Probably an additional prop called `customIcon` maybe... based on which we could conditionally render the passed SVG icon otherwise we use the default icons?

**Describe alternative

[2021-11-15 17:02] MuhammadJamaluddin commented on #2013
Actually, thinking about it, it probably has to be `customIcons` (an array), where we pass two SVGs, one for `checked` state & another one for the `unchecked` state

[2021-11-20 23:22] acao opened #2015 "Bug with customize menu option on theme-ui.com"
**Describe the bug**
The customize menu option (and only this option) on the docs site for whatever reason causes fatal exceptions that crash the entire application :/

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://theme-ui.com
2. Expand the menu
3. Choose "Customize"
4. See error

**Expected behavior**
Excited to find out!

**Screenshots**
<img width="854" alt="Screenshot 20

[2021-11-22 19:37] hasparus opened #2016 "prism: Cannot read properties of undefined (reading 'replace')"
**Discussed in https://github.com/system-ui/theme-ui/discussions/2014**

_@theme-ui/prism_ crashes when `className` prop is not passed. It's a bit counterintuitive, so let's handle it.

See the sandbox and comment out both `className` and `sx`.
https://codesandbox.io/s/theme-ui-prism-crash-oqz29?file=/src/App.js

[2021-11-22 21:41] hasparus commented on #2015
It seems our customize page didn't survive update to Gatsby 4 and other dependency version bumps.

As a workaround: You can visit it if you open [https://theme-ui.com/customize/](https://theme-ui.com/customize/) in new window.

[2021-11-22 22:12] hasparus commented on #2015
Hey @acao, it should be fixed now. (cc @lachlanjc I downgraded `stringify-object` — one of transitive dependencies was supposedly not exporting `.default`, might be bcs v4 is now publishing ESM code.)

[2021-11-22 22:12] #2015 closed, assigned to nobody

[2021-11-23 05:34] benface opened #2021 "css: Make `background` a theme-aware property"
**Is your feature request related to a problem? Please describe.**
I find it surprising and confusing that the `bg` shorthand can be set to a color name/key, but not `background`, as they read the same.

**Describe the solution you'd like**
I would like `background` to be a theme-aware property, so I can do `sx={{ background: 'myCustomColorName' }}`.

**Describe alternatives you've considered**
I

[2021-11-23 10:57] hasparus commented on #2021
Yeah, I think that's a nice addition. I wouldn't try to parse complex `background` like `"center / contain no-repeat url("logo.svg")"` values anyway, but simply adding `background` to colors scale would be convenient.

[2021-11-24 07:25] lachlanjc commented on #1751
I vote we’re good to deprecate/make internal to docs! It’s been 6 months here without any pushback.

[2021-11-24 17:31] fcisio commented on #2021
I have another great use case for this.
Making `background` theme-aware would allow setting gradients along with the colors in the theme 🔥

[code]

[2021-11-24 18:06] johno opened #2023 "Theme UI provider import causes an ESM error when mdx-js/react is subsequently required"
**Describe the bug**

MDX v2 switches to ESM, but Theme UI's cjs file is imported during Next's SSR, which causes an error. I'm not entirely sure if this is a bug in Theme UI or Next, but a direct `@mdx-js/react` import doesn't cause an error. So, it seems like something to do with the preconstruct build during Next's SSR, maybe? Result of it being a second level dependency?

[code]

**To Reproduc

[2021-11-24 18:14] johno commented on #2023
I also tried `experimental.esmExternals = true` in `next.config.js` which resulted in a slightly different error.

[code]

[2021-11-25 12:24] MuhammadJamaluddin commented on #1834
https://theme-ui.com/guides/typescript/#typescript

Probably we can close this?Cc: @hasparus

[2021-11-29 10:59] facinick opened #2025 "Use Theme UI Presets in Material UI library"
**Is your feature request related to a problem? Please describe:**
I use material UI heavily just like a lot of other devs, it's accessible, comprehensive, beautiful and all that. However the themes in theme UI are just great, I want to be able to pass down theme UI theme presets to material UI with 0 configuration.

**(output of solution should be similar to this)**
import theme from theme UI lik

[2021-11-29 13:25] lachlanjc commented on #2021
Eeh, I’m not in favor of supporting & parsing entire CSS declarations inside theme values. Let's only permit the usage of standard theme values here.

[2021-11-29 13:29] lachlanjc commented on #2025
Hey, thanks for the issue! While we’d accept a PR for an interoperability package, we have no plans as maintainers to build this. It’d also be a perhaps better fit for an external package we link to from docs. We’d encourage MUI to follow the [System UI Theme Spec](https://system-ui.com/theme/) that Theme UI also follows, but it’s not the concern of the Theme UI library itself to handle that sort

[2021-11-29 13:29] #2025 closed, assigned to nobody

[2021-11-29 13:53] acao commented on #2012
This would be awesome!

I have experience creating `vscode` extensions if you need help on where to get started.

[2021-11-29 13:57] acao commented on #2015
@hasparus ah, that keeps happening to me as well! thanks! this is awesome!

[2021-11-29 15:44] fcisio commented on #2021
Hey @lachlanjc ,
Sorry, bad copy/paste, I meant:

`gradient: 'linear-gradient(#e66465, #9198e5)'`

[2021-11-29 15:50] benface opened #2026 "Document theme properties' default values"
**Describe the bug**
I noticed that if I omit some keys from the theme object I pass to the `ThemeProvider`, such as `breakpoints` and `fontSizes`, some default values will be used, and I couldn’t find that documented anywhere so I don’t think it’s by design. The default values for these two keys are the same as in the [base preset](https://theme-ui.com/theming#example-theme), but I can confirm th

[2021-11-29 16:59] lachlanjc commented on #2021
Oh! Yes, that's cool with me. Semicolon-free is definitely the way to go haha

[2021-11-29 17:00] lachlanjc commented on #2012
I don't foresee myself taking this on so please do!! 🙏

[2021-11-30 03:06] lachlanjc commented on #2026
This is on the list in #832! Relevant code here: https://github.com/system-ui/theme-ui/blob/develop/packages/css/src/index.ts#L76-L79

[2021-11-30 16:39] benface commented on #2026
Ah ha, thank you @lachlanjc. I see “remove default `fontSizes` and `space` values”; should `breakpoints` be added to that list?

[2021-12-01 01:59] lachlanjc commented on #2026
Hmm, I'm of two minds there. I think it makes sense for fontSize & space since those are visible. But having some default breakpoints doesn't seem so bad? Setting them up is a bit of a pain & there are real scenarios where you don't need to customize those. But could definitely be convinced otherwise.

[2021-12-01 14:12] benface commented on #2026
You’re right. As long as it’s documented, having some default breakpoints makes sense!

[2021-12-02 17:57] drydenwilliams commented on #2016
Thanks for creating this @hasparus! I'll give it another try with the classname

[2021-12-05 13:30] zaicevas opened #2036 "Next.js hydration error when used with emotion"
**Describe the bug**
`theme-ui` does not integrate with `emotion` and Next.JS. Getting hydration errors.

![image](https://user-images.githubusercontent.com/34719980/144748578-20fc3a71-a983-430f-afdc-2d4e7224b466.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Bootstrap with https://github.com/lachlanjc/next-theme-starter
2. Integrate emotion according to https://github.com/vercel/next

[2021-12-08 17:42] mryechkin commented on #403
Hi folks. Has this been given any more consideration? It would be a great feature to have for our use case.

For example, I need to be able to specify that a button is "disabled" while also being a `secondary` variant. Is there a clean way of doing this currently?

[2021-12-09 01:31] lachlanjc commented on #403
@mryechkin No work on this, but still very much wanted! We recently had a discussion about what the API should look like, over here: https://github.com/system-ui/theme-ui/pull/1226#issuecomment-977597495

It needs a fresh PR for implementing, contributions extremely welcome!

[2021-12-09 18:30] Psychobellic commented on #888
What about locally stored images?

I can't sort this out either in /src/img/ as in /public

[2021-12-09 20:09] yesnotnode commented on #888
Hey @Psychobellic I did this with local images.

`import src from "../images/****.jpg"`

and then in the sx prop...

`backgroundImage: "url(${src})"`

If you are running a query for a local image just store the path in a variable and you should be able to use the same syntax I used.

[2021-12-11 13:06] uxduck opened #2038 "Gatsby Plugin Theme UI incompatible with newer versions of theme-ui and Gatsby 4.0"
The plugin depends on theme-ui version `^0.11`. https://github.com/system-ui/theme-ui/blob/fa1fea4a2845a25f2a794a2e1a5398b06ce9d8cb/packages/gatsby-plugin-theme-ui/package.json#L9

Perhaps it should be `"^0.11.0"` instead. This might be the cause of this error when trying to run `npm install`:

[code]

**To Reproduce**
Try to `npm i` in a folder which has this basic `package.json`. You should get

[2021-12-11 13:09] uxduck commented on #2038
If we revert to using `0.11.0`, we would be forced to downgrade to Gatsby 3.0, because Gatsby 4.0 was only added recently in 0.11.4, see https://github.com/system-ui/theme-ui/pull/1980

[2021-12-11 19:24] lachlanjc commented on #2038
Oh no! Thanks for the issue.

[2021-12-11 22:05] vorillaz opened #2039 "TypeScript inline definitions"
**Describe the bug**
Hi there, thanks a ton for the amazing library, it is a breeze using it.
I have a question regarding TypeScript inline definitions using the `as` prop:
Is there any way to use `theme-ui` along with TypeScript without redeclaring and exporting the component?

A solution as following would be amazing:
[code]

**Screenshots**
![Screenshot 2021-12-11 at 11 51 31 PM](https://user-i

[2021-12-11 23:41] hasparus commented on #2039
Hey @vorillaz 👋 Thanks for the issue!

This is a footgun and won't be supported. Typed `as` prop is the easiest way to make your TypeScript compilation slow. You can use `sx` prop and JSX pragma instead.

[code]

[2021-12-11 23:41] #2039 closed, assigned to nobody

[2021-12-13 20:47] vorillaz opened #2042 "`theme-ui` along with `next.js` color mode is rendered incorrectly"
**Describe the bug**
Hi there, once again thanks a lot of the great library, I am facing some issues with the `useColorMode` hook as it seems that it get's messed up with the hydration mode of `next.js`. As I am switching through the color modes upon refreshing the rendered results is pretty weird.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://stackblitz.com/edit/nextjs-7whv

[2021-12-21 17:53] #1388 closed, assigned to nobody

[2021-12-21 18:51] hasparus commented on #2042
Hey @vorillaz, I can't reproduce this and to be fair, I'm not quite sure how Theme UI would affect the rendering of that icon.

[2021-12-22 12:12] vorillaz commented on #2042
@hasparus Closing this one, it appears that it is an issue with SSR from Next.js.
Thanks for the help.

[2021-12-22 12:12] #2042 closed, assigned to nobody

[2021-12-27 22:17] hasparus commented on #1388
:rocket: Issue was released in [`v0.13.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.13.0) :rocket:

[2021-12-27 22:51] lachlanjc commented on #733
@hasparus can we close since we're not contributing to this issue in projects anymore?

[2021-12-28 15:32] #733 closed

[2021-12-29 18:37] lachlanjc commented on #1531
This issue has been fixed with the release of 0.13! I just forked your sandbox & updated the dependencies, & I believe it's working as expected now.

![image](https://user-images.githubusercontent.com/5074763/147693155-da180224-ed65-407f-8bd1-ac49f1e82fbc.jpeg)

https://codesandbox.io/s/themeui-context-sharing-forked-wzg23?from-embed=&file=/package.json

https://wzg23.csb.app/

[2021-12-29 18:37] #1531 closed, assigned to nobody

[2021-12-29 18:48] lachlanjc commented on #1875
Closing this as we're not planning to build this feature, but anyone is welcome to extract this functionality & we can link to it in the docs. If you're using Next.js, I've had great success with <https://github.com/pacocoursey/next-themes>!

[2021-12-29 18:48] #1875 closed, assigned to nobody

[2021-12-29 18:57] lachlanjc commented on #2007
@hasparus Now that Emotion is a peerDep, I think this issue has been obviated?

[2021-12-29 19:03] lachlanjc commented on #1183
Papertrail: we deprecated `.withComponent` some time ago & will be fully removing it soon.

[2021-12-29 19:21] lachlanjc commented on #1371
@hasparus Is this solved by the Emotion change or updates in the last year?

[2021-12-29 21:59] hasparus commented on #1371
I'm not sure. Do we still define `CSSObject`?

[2021-12-29 22:20] hasparus commented on #2007
Well, we _could_ add a component that composes Emotion's `Global` and `css` from `@theme-ui/css`, but I'm curious how many users would actually need that.

[2021-12-29 23:39] lachlanjc commented on #2007
Yeah, we could, I've thought about it too. But I feel like using `useThemeUI` with Emotion's Global is enough, personally.

[2021-12-30 05:37] lachlanjc commented on #1971
We just switched to pnpm + Turborepo at work, now that Turbo is open source this seems to be the direction folks are heading in.

[2021-12-30 06:33] lachlanjc commented on #1130
Now that v0.13 of Theme UI requires installing `@mdx-js/react` yourself, I’m not seeing this issue anymore! Tested with https://github.com/lachlanjc/next-theme-starter (which I haven’t pushed a v0.13 update to yet). Please flag if it returns!

[2021-12-30 06:33] #1130 closed

[2021-12-30 07:28] lachlanjc commented on #2038
Installing that package.json with Theme UI 0.13, I’m not seeing that issue: https://codesandbox.io/s/festive-ully-j026f?file=/package.json

Will close for now since the versions have been bumped here, but please flag if you’re still seeing this!

https://github.com/system-ui/theme-ui/blob/348177b9e61ff66d1403eaae789c44151ab06d17/packages/gatsby-plugin-theme-ui/package.json#L8-L10

[2021-12-30 07:28] #2038 closed, assigned to nobody

[2021-12-30 07:31] lachlanjc commented on #1371
Looks like you removed it, if I’m understanding correctly? https://github.com/system-ui/theme-ui/commit/c29011ec877fdaa3498bfbc09534fcf3d449853e

[2021-12-30 12:05] hasparus commented on #1371
Brilliant. And of course I forgot to close the issue right after. Thanks.

[2021-12-30 12:05] #1371 closed, assigned to hasparus

[2021-12-30 13:38] hasparus commented on #2007
Fair dos, let's close.

[2021-12-30 13:38] #2007 closed, assigned to nobody

[2021-12-30 14:48] aaronadamsCA commented on #2007
Ha, I just came to close this - agreed it's no longer relevant!

[2022-01-03 12:03] chefnubi opened #2063 "Cursor image doesn't work"
If you add   cursor: 'url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png")' to, for example, root, it ignores the image and doesn't show anything.

Any fixes?

[2022-01-03 14:04] lachlanjc commented on #2063
Thanks for the report! Could you provide a link to a CodeSandbox/etc for reproducing?

[2022-01-03 15:01] chefnubi commented on #2063
this is how it should work https://codepen.io/geoffgraham/pen/qZjwGe
put the cursor into any of theme ui elements and it won't change

[2022-01-03 16:17] lachlanjc commented on #2063
Oh yeah, I’m aware of the CSS property—was looking for a reproduction of it not working with Theme UI. We can try to reproduce it ourselves, but it’ll likely take longer for the issue to get addressed than if we can immediately jump into debugging it.

[2022-01-03 17:29] hasparus commented on #2063
Hey @chefnubi, thanks for the issue.
I'm sorry, but it works. Here's a CodeSandbox for you: https://codesandbox.io/s/laughing-goldberg-8sjps?file=/src/App.js

[2022-01-03 17:29] #2063 closed, assigned to nobody

[2022-01-03 17:30] #2021 closed, assigned to nobody

[2022-01-03 17:38] hasparus commented on #2021
:rocket: Issue was released in [`v0.13.1-develop.7`](https://github.com/system-ui/theme-ui/releases/tag/v0.13.1-develop.7) :rocket:

[2022-01-03 22:16] chefnubi commented on #2063
great, thanks, the docs are totally silent on cursor url and also that you need to add an auto tag, without which it doesn't work. maybe worth mentioning somewhere in case someone else is looking for this

[2022-01-04 00:40] lachlanjc commented on #2063
Since Theme UI doesn't change anything about the cursor property, it & other modified properties are purposefully not mentioned in the docs.

[2022-01-05 10:05] hasparus commented on #2021
:rocket: Issue was released in [`v0.13.1`](https://github.com/system-ui/theme-ui/releases/tag/v0.13.1) :rocket:

[2022-01-07 05:54] rafaelrinaldi commented on #1247
@hasparus Hey, just wanted to bump this and ask if is there a better way to accomplish this rather than interpolating prefix and variant name manually (as suggested above).

[2022-01-07 08:45] benface opened #2065 "Pass the current color mode to functions used in `sx`"
**Is your feature request related to a problem? Please describe.**
I wouldn’t say it’s a problem, but something that could be improved.

**Describe the solution you'd like**
I would like to be able to do this:
[code]

**Describe alternatives you've considered**
I know I can get the current color mode with the `useThemeUI` hook, but the above is terser and nicer in some cases. For instance, if I wa

[2022-01-07 08:54] hasparus commented on #1247
Hey @rafaelrinaldi, is there anything you'd like to change Aaron's suggested solution? How would you like the API to look like?

[2022-01-07 09:59] benface opened #2066 "Support `(theme) => value` function in theme specification"
**Is your feature request related to a problem? Please describe.**
I was expecting the following to work in my theme object:
[code]
Unfortunately, it doesn’t. `border: 'text'` doesn’t render anything.

**Describe the solution you'd like**
It would be nice if that was supported.

**Describe alternatives you've considered**
I can hardcode the value like this:
[code]
But in this case, the `text` colo

[2022-01-07 15:59] hasparus commented on #2066
As a workaround, you can do the following if you didn't turn off `useCustomProperties`:

[code]

[2022-01-07 16:23] rafaelrinaldi commented on #1247
@hasparus Thanks for the quick response. I am just trying to figure out what the consensus is on creating variants for custom components (non Theme UI). Is the way he suggested the way to go?

[2022-01-08 00:24] benface commented on #2066
Oh @hasparus 🤦‍♂️

That works perfectly, thank you!

[2022-01-08 21:50] lachlanjc commented on #1247
Indeed it is!

[2022-01-10 16:15] #992 closed

[2022-01-10 16:23] hasparus commented on #992
:rocket: Issue was released in [`v0.14.0-develop.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0-develop.0) :rocket:

[2022-01-12 16:02] rafaelrinaldi commented on #1247
@lachlanjc Thank you!

[2022-01-13 08:52] lionmat opened #2074 "Using standard css media query breaks responsive values when setting a same value set for breakpoints"
**Describe the bug**
I am new to Theme UI so, I am not sure if this is a bug or specification.
When using standard css media query in sx prop and setting a same value set for breakpoints, I found out responsive values doesn't work properly.

For example,

in src/gatsby-plugin-theme-ui/index.js
[code]

in src/components/test.js
[code]
In this settings, "yellow" background will be skipped.("pink" co

[2022-01-14 12:27] #1471 closed, assigned to nobody

[2022-01-15 22:33] hasparus commented on #1471
:rocket: Issue was released in [`v0.14.0-develop.2`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0-develop.2) :rocket:

[2022-01-15 23:59] TranquilMarmot commented on #979
@lachlanjc is there anything special you have to do to get those variables to show up? I'm using `@theme-ui/core` version `0.13.1` and they aren't showing up for me.

Switching to the "all-in-one" `theme-ui` package makes them show up, but I'd rather be able to use just `@theme-ui/core`.

[2022-01-16 04:16] TranquilMarmot commented on #1814
I ran into this as well, using:
- `theme-ui` version `0.13.1`
- `@emotion/react` version `11.7.1`

Can confirm that doing...

[code]
Fixes it

I wonder if the "object syntax" example should be removed/changed on this page? https://theme-ui.com/guides/keyframes#usage

[2022-01-16 07:06] lachlanjc commented on #979
Ah, I believe that's the issue. Those custom properties are part of the color-modes package, which isn't included in core. What's your use case?

[2022-01-16 16:49] lachlanjc commented on #1814
Excellent callout @TranquilMarmot! Just made a PR updating that page.

[2022-01-16 16:52] lachlanjc commented on #2074
Hey @lionmat! You’ve got 4 breakpoints in that example but then are setting 5 values to the breakpoints. There may be a bug in our handling of an edge case like that, but you should only be using as many responsive values as you have breakpoints. (You can set as many breakpoints as you like.)

[2022-01-16 16:56] lachlanjc commented on #2036
Hey @zaicevas! You shouldn’t need to (afaik) update the configuration past what’s in my starter repo at all—server rendering is [automatic](https://emotion.sh/docs/ssr#nextjs) with the latest Emotion in Next. The `with-emotion` example setup will disable SWC & double-render styles, last I checked.

[2022-01-16 23:15] lachlanjc commented on #1793
Our switch to having Emotion as a peer dependency should resolve the majority of cases of this! Please flag if you're still running into this.

[2022-01-16 23:15] #1793 closed, assigned to nobody

[2022-01-16 23:15] lachlanjc commented on #1530
Our switch to having Emotion as a peer dependency should resolve the majority of cases of this! Please flag if you're still running into this.

[2022-01-16 23:15] #1530 closed, assigned to nobody

[2022-01-17 01:36] lachlanjc commented on #1029
We'd welcome a PR for this, but we're not planning to implement this feature ourselves, so closing this issue for now. Thank you!

[2022-01-17 01:36] #1029 closed

[2022-01-17 01:37] lachlanjc commented on #1070
Interesting! I have not encountered this issue personally—could you provide a repo reproducing it?

[2022-01-17 01:38] lachlanjc commented on #950
Closing since I think we know what we want to do here, & there's separate issues/PRs for implementing it? (Feel free to reopen.)

[2022-01-17 01:38] #950 closed

[2022-01-17 03:52] #1814 closed, assigned to hasparus

[2022-01-17 04:01] hasparus commented on #1814
:rocket: Issue was released in [`v0.14.0-develop.3`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0-develop.3) :rocket:

[2022-01-17 04:01] hasparus commented on #1814
:rocket: Issue was released in [`v0.14.0-develop.3`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0-develop.3) :rocket:

[2022-01-17 07:56] lionmat commented on #2074
@lachlanjc Thanks for your comment.

I thought Responsive values will be set something like this, am I wrong ?
 <----blue---> 640px <--- green ---> 768px <---- pink -----> 1024px <---yellow---> 1280px <----black ---->

OK, I changed the code and tried again.
[code]
Even if I set like this, textAlign: "center" works but bg never changes to yellow.

[2022-01-17 14:43] lachlanjc commented on #2026
I've changed my mind on this. I'm actually in favor of keeping these default values — I think a big part of the appeal of Tailwind & how easy it is to get started with Tailwind is their excellent defaults. While most users will continue to want to set their own theme, anything we can do to make getting started faster seems like a win. & as you said, it's still easy enough to reset these values to

[2022-01-17 14:57] benface commented on #2026
Cool, that works too!

[2022-01-17 16:01] #2036 closed, assigned to nobody

[2022-01-17 16:14] lachlanjc commented on #1964
Updated the repro to the latest Theme UI & dependencies, issue is unresolved. https://codesandbox.io/s/broken-tree-pm9nh?file=/src/theme.ts / https://pm9nh.sse.codesandbox.io/

[2022-01-18 00:48] #2026 closed, assigned to nobody

[2022-01-18 00:50] lachlanjc commented on #2065
Note that we also have a simpler [`useColorMode()` hook](https://theme-ui.com/hooks/#usecolormode), but agree this would be nice to have too!

[2022-01-18 01:31] benface commented on #2074
Hmm, are you sure? If you have only one breakpoint, surely you can specify two values: one for below and one for above the breakpoint?

[2022-01-18 23:13] TranquilMarmot commented on #979
Use case is just trying to keep the end result of my app small 😉
I ended up just switching to `theme-ui` from `@theme-ui/core`

[2022-01-19 02:05] lachlanjc commented on #979
That makes sense! I was wondering why you wanted these custom properties though—I've personally never used them, since if I'm using Theme UI on a site typically all my styling is going through it

[2022-01-19 07:10] TranquilMarmot commented on #979
The main reason I need the custom properties is for things like `linear-gradient`.

i.e. if I want to do...

[code]

It seems like `theme-ui` doesn't work with something like `linear-gradient(to top, buttonPrimary1, buttonPrimary2)`.

In another project, we added `theme-ui` on top of a bunch of existing SCSS files. We reference the `--theme-ui-colors-` variables a lot in the SCSS.

[2022-01-21 17:14] #1470 closed, assigned to nobody

[2022-01-21 17:14] #1172 closed

[2022-01-29 16:08] lachlanjc commented on #1070
Closing as stale, but please re-open if you encounter this again!

[2022-01-29 16:08] #1070 closed

[2022-01-29 16:46] lachlanjc commented on #1334
<img width="1062" alt="Screen Shot 2022-01-29 at 11 45 24 AM" src="https://user-images.githubusercontent.com/5074763/151669434-ab0373ab-f859-47eb-a03c-fc1f2739fdcf.png">

I'm not able to reproduce this issue at this point, so closing for now. If you're still running into it, please fork my CodeSandbox with a repro: https://codesandbox.io/s/next-theme-ui-example-forked-gxcd0?file=/components/about.

[2022-01-29 16:46] #1334 closed

[2022-01-29 17:44] #1435 closed, assigned to nobody

[2022-01-29 17:51] hasparus commented on #1435
:rocket: Issue was released in [`v0.14.0-develop.6`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0-develop.6) :rocket:

[2022-01-29 17:51] hasparus commented on #1172
:rocket: Issue was released in [`v0.14.0-develop.6`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0-develop.6) :rocket:

[2022-01-29 22:30] lachlanjc commented on #1234
Personally, seeing Next.js & other big players move away from Babel, it doesn't seem like the right investment for the library. We'd definitely welcome this as an external contribution, but have no plans to develop this ourselves.

[2022-01-29 22:43] #1728 closed, assigned to nobody

[2022-01-29 22:52] hasparus commented on #1728
:rocket: Issue was released in [`v0.14.0-develop.7`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0-develop.7) :rocket:

[2022-01-30 14:23] #1128 closed

[2022-01-31 14:34] #1234 closed

[2022-02-02 07:10] anmpog opened #2111 "Inability to use `border` CSS and reference base-theme colors in variants, must use long-hand border properties."
**Is your feature request related to a problem? Please describe.**
When defining variants or `styles.root` values, I've found that I'm unable to reference the `theme.colors` object when defining borders using the CSS `border` shorthand (ex `border: 2px solid primary` where `primary` is a color defined on the `theme.colors` object). However, I CAN reference the colors defined on the `theme.colors`

[2022-02-02 07:35] anmpog commented on #629
Seeing this thread and commenting that the documentation could do a good deal more to explain how to define and utilize variants for components like `Box` and `Flex`. These are key components and I have to say that IMO the documentation does not do a great job of explaining how you might set up some base variants to use with these components.

[2022-02-02 10:04] braaar opened #2112 "style-guide: ColorPalette doesn't show color labels"
**Describe the bug**
The ColorPalette component from the style-guide package is not showing labels for my colors like in the [style-guide docs](https://theme-ui.com/packages/style-guide/#color-palette)

**To Reproduce**
Steps to reproduce the behavior:

1. Create a react project
2. Add theme-ui and create a theme
3. Make a page that uses the `ColorPalette` component
4. See the colors, but no label

[2022-02-02 10:19] braaar commented on #2112
I've tried writing my own render method but I'm just getting `#000000` on hover instead
[code]

![Screenshot 2022-02-02 at 12 18 56](https://user-images.githubusercontent.com/5765650/152135364-86dfbebf-8d5f-482f-b404-847950bf32fa.jpg)

[2022-02-02 10:22] braaar commented on #2112
Interestingly, there is a div element there containing the correct label, but it's not being rendered as text by the browser.
![Screenshot 2022-02-02 at 12 18 15](https://user-images.githubusercontent.com/5765650/152135725-08787e2e-9f1c-46a6-bced-f4f75944e7c9.jpg)

[2022-02-02 10:38] braaar commented on #2112
In [this example theme](https://indivorg.github.io/theme/), the labels work correctly. The reproduction of the issue lies in the difference between how these two projects are set up.

**Some differences**
- The Indiv theme uses an older version of Theme UI.
- `makeTheme` from `@theme-ui/css/utils` is used in Bjerk brand (the theme where the issue apprears).

[2022-02-04 15:23] lachlanjc commented on #2112
Interesting, thanks for the report! I suspect this is an issue with configuration & not with the library, as https://theme.hackclub.com/ & our site, which both use the published package versions, show the labels. I'll need to spend some time looking into this.

[2022-02-05 04:28] lachlanjc commented on #2111
Totally! There's two approaches I see here:

1. Make it less annoying to write out the multi-part syntax, via something like nested objects, prototyped here but never finished: https://github.com/system-ui/theme-ui/compare/css-shorthands?expand=1
2. Support `(theme) => value` function in theme specification, #2066

[2022-02-07 08:46] PeterlitsZo opened #2115 "Please update document about jsx-pragma with esbuild."
We are using **vite**, which use `esbuild` to deal with all source files(It will remove typescript keywords and so on to make it as a javascript but without typecheck). **vite**'s document tell us how to enable esbuild's option --- But we have no idea that what need I do.

Here is documents we find:
- https://theme-ui.com/guides/jsx-pragma: your document about how to use jsx-pragma with babel/type

[2022-02-07 13:50] hasparus commented on #2115
That would be a very nice addition to the docs. :)

[2022-02-07 13:52] hasparus commented on #2115
Here's the MDX file responsible for JSX pragma docs: https://github.com/system-ui/theme-ui/blob/develop/packages/docs/src/pages/guides/jsx-pragma.mdx

You should be able to edit it from GitHub UI even without cloning the repo :)

[2022-02-07 16:04] #2115 closed, assigned to nobody

[2022-02-07 16:04] PeterlitsZo commented on #2115
Thanks. I give you a PR. Please check.

[2022-02-07 16:17] PeterlitsZo opened #2120 "Add makeResponsiveValue for readable value."
I know that we can use array to get the responsive value. But sometime I hope there is a function that put a object with readable key and output the array.

Here is my solution:
[code]

[code]

[2022-02-07 16:18] PeterlitsZo commented on #2120
If you also think it is good, tell me advice (I am pure newbie...) and I will try to make it better.

[2022-02-08 03:30] PeterlitsZo commented on #2120
[code]

[2022-02-08 06:45] PeterlitsZo opened #2123 "docs(color-modes): Add examples of array or object color scales"
After read source code. We find that it sounds like that color can be plain object or array and so on. But we do not find it in https://theme-ui.com/color-modes.

Does it need update? If it need, I can help you with PR.

[2022-02-08 13:29] PeterlitsZo opened #2124 "How about remove the Label warpper for Switch?"
If we want to to let the label be before of the switch, we need:
[code]

But I find that Switch is already a Label element. Why? I think this will be better:
[code]

[2022-02-08 13:30] PeterlitsZo commented on #2124
It will break something... so we can create a new component `PureSwitch`. How about it?

[2022-02-08 13:30] PeterlitsZo commented on #2124
I will try in my project.

[2022-02-08 14:44] PeterlitsZo commented on #2124
By the way, I find that the `Box` set `margin: 0`, which let the parent's `& > * + *`'s `margin-left: 5px` rule not works.

Need we set the `Box`'s `margin: 0`?

[2022-02-08 16:10] PeterlitsZo commented on #2124
Here is my work, it works well for me:

<details>
  <summary>My code!</summary>

[code]
</details>

[2022-02-08 17:06] PeterlitsZo opened #2127 "How about a dropdown?"
There are a lot of component. But how about add a dropdown menu? You can click [headlessui-menu](https://headlessui.dev/react/menu) to see want we want to use. If it is a good idea, we can do everything we can to help you.

[2022-02-08 17:44] hasparus commented on #2127
If I were you, I'd probably use Theme UI _with_ Headless UI. They don't conflict. Theme UI is responsible for styling, Headless UI gives you some nice unstyled logic-only components.

@lachlanjc do you think we should consider expanding patterns in the docs to include combinations of Theme UI with styleless component libraries?

[2022-02-09 03:41] lachlanjc commented on #2127
In the docs, let's go for it! I definitely don't want to be maintaining the logic for interactive components inside Theme UI, but a demo with Radix or Headless would be awesome. From that experience, we could consider eventually having a package built around Radix etc styling their components with Theme UI primitives.

[2022-02-09 03:48] lachlanjc commented on #2124
`Box`'s `margin: 0` is designed to be our CSS reset, without requiring global CSS, which we [discourage](https://theme-ui.com/guides/global-styles). If you're setting space inside a flexbox container, I'd recommend `gap` instead of margin personally.

The customization here is an interesting idea! The other way to go would be MUI-like `startLabel`/`endLabel` props, then we could deprecate `label`

[2022-02-09 03:50] lachlanjc commented on #2123
Good call! Yes, would love a PR.

[2022-02-09 08:04] PeterlitsZo commented on #2123
OK, I will try. Wait for soon.

[2022-02-09 08:41] PeterlitsZo commented on #2123
Done, I am going to close this.

[2022-02-09 08:41] #2123 closed, assigned to nobody

[2022-02-09 08:44] PeterlitsZo commented on #2124
I do use `gap` instead of `margin`. But some browser do not support `gap`... If `margin` is OK to use, it will be better...

startLabel? endLabel? yes, it is a good idea! Do you need a PR?

[2022-02-09 08:51] PeterlitsZo commented on #2124
Although I think I get it, but I cannot find `startLabel`/`endLabel` in MUI...

[2022-02-09 12:33] PeterlitsZo commented on #2127
Radix? Oh, that may be a good idea!!! I know how to add component with `@theme-ui/component` (sorry but something I cannot find the component I want...).

Will Radix be a good idea... I will try it!

[2022-02-09 12:34] PeterlitsZo commented on #2127
What you want to do? update document about those or even make another sub-package?

[2022-02-09 15:56] hasparus commented on #2127
So the idea is that Theme UI is only for styling, and Headless UI, Radix or Reach UI are only for logic. This way you can mix and match to build a design system for your company. We have no ambition to compete with ready-made batteries-included component libraries like Ant Design or Material Design.

How about a CodeSandbox with a demo, an external library or a subdirectory in `/examples` in this

[2022-02-09 16:09] lachlanjc commented on #2124
They use `startIcon`/`endIcon` on Buttons. If you'd like to write a PR, we'd love that!

[2022-02-09 19:51] t2ca opened #2129 "ModuleParseError: Module parse failed: Unexpected token (17:2)"
I have recently experienced the following error during `gatsby develop` after upgrading theme-ui to v0.13.1 inside my Gatsby theme.

[code]

This was never an issue with v0.12 or any other previous versions.

I am using Gatsby themes in my project and I have `theme-ui`, `gatsby-plugin-theme-ui`,  and other plugins installed inside my theme and not inside the project itself.

I was able to solve th

[2022-02-09 20:03] hasparus commented on #2129
Thanks for the issue @t2ca.

The error occurs when your theme depends on the `gatsby-plugin-theme-ui`, and your site depends on the theme, but it dissapears when your site depends on the plugin directly?

I don't have a way to check this right now, but I'm interested if changing from JSX to `React.createElement` in `gatsby-ssr.js` and `gatsby-browser.js`?

[code]

I'd guess that Gatsby transpiles

[2022-02-09 20:53] t2ca commented on #2129
hey @hasparus, thank you for the quick reply!

After making the change, I got a new error:

[code]

[2022-02-10 09:46] PeterlitsZo commented on #2124
![image](https://user-images.githubusercontent.com/25707198/153381046-bec9b6b9-04a6-4f9c-86a3-497fb95e3659.png)

How about this? Do you like it?

[2022-02-10 09:50] PeterlitsZo commented on #2127
Well... I am not sure... If you want to use our library with styleless library, why there are `@theme-ui/component`?

By the way, I am so stupid, that I cannot deal with Redix's component well. Yes they looks will, but have question under my global setting...

[2022-02-10 09:52] PeterlitsZo commented on #2124
By the way, do you think that we can change the inner `div`'s color rather than `white` is a better idea?

By the way, @lachlanjc are you still 19?

[2022-02-10 14:56] lachlanjc commented on #2124
Personally I'd vote for no more than 2 label props—either the text string & a position one, or the start/endLabel props. It's too confusing when to use endLabel vs label. We'd keep label for a bit as a deprecated compatability shim. cc @hasparus on API preferences

I'm 20 now!

[2022-02-10 14:56] lachlanjc commented on #2124
Not sure what you mean by this

[2022-02-10 17:15] hasparus commented on #2124
TBH I'd rather have just one `label` prop and `labelPosition` or something like that?

[code]

[2022-02-10 17:18] hasparus commented on #2127
If you have any problems that you think are not bug reports or stackoverflow style Question and Answer cases, feel free to shoot directly on [Theme UI's Discord](https://discord.gg/Kqbpmv7X).

[2022-02-10 17:25] hasparus commented on #2129
Awesome! That confirms my suspicion. We need to transpile all JSX in the plugin to make it work as a nested dependency.

I'm considering doing this manually, but it may be a bit error prone — we'd have to make sure nobody uses JSX there again — so it might be better to just do it with `tsc && prettier`.

[2022-02-10 22:44] lachlanjc commented on #2124
Was also thinking about this. Works for me! Also then won't be a breaking change which is preferable, & it's more consistent with other components.

[2022-02-11 03:10] PeterlitsZo commented on #2124
OK.

[2022-02-11 03:20] PeterlitsZo commented on #2124
![image](https://user-images.githubusercontent.com/25707198/153532762-7145d2d6-62d4-42af-991c-61c9cf8f86d9.png)

How about this? I also update `index.d.ts` for type. (By the way, a stupid question -- why we do not just use ts rather than js?)

I'm also 20!

[2022-02-11 03:38] PeterlitsZo commented on #2124
I mean, the switch for show have two `div`: the outer `div`, and the inner `div`. The inner `div` is a circle, which it's color is always `white`. Well, now I do not think that change it to another is a good idea. Those who want to change color may use CSS rule to change it.

[2022-02-11 04:05] PeterlitsZo commented on #2127
OK, sorry...

[2022-02-11 14:27] vfilter opened #2130 "Adding styles to theme object implicitly overwrites root"
**Describe the bug**
Recently added mdx files to an existing project, so to style them, I added a styles object to my theme. Only defined h1, h2 and p properties. But adding the styles object, even if empty, created an inexplicable 8 pixel margin around every single page.

Then I found out that 8 pixel is the [browser default for the user agent stylesheet](https://stackoverflow.com/questions/35466

[2022-02-11 16:01] RoyalHunt opened #2131 "Does not work in the Storybook using Vite builder"
**Describe the bug**
Building Storybook using Vite as a builder (https://github.com/eirslett/storybook-builder-vite) display HTML elements without style.
<img width="900" alt="Screenshot 2022-02-11 at 17 52 05" src="https://user-images.githubusercontent.com/22590130/153623896-c8121339-febe-45d9-9767-723f81b57526.png">

My storybook config file:
[code]

**Expected behaviour**
Wait successfully atta

[2022-02-12 05:27] PeterlitsZo commented on #2131
Hello, would you please give me the link about a runable project?

It looks like that it do not use `jsx` from `theme-ui`, so we cannot parse the sx prop.

[2022-02-12 12:04] PeterlitsZo commented on #2124
Hello? I'd like to know could I give you PR now...

[2022-02-12 13:56] RoyalHunt commented on #2131
Yes. This is the reason. But what could be the solution?

Link to the repo: https://github.com/RoyalHunt/themeUI-storybook

Thank you.

Steps:
1. yarn
2. yarn storybook

I've tried to add babel importSource in several places, but no luck.
Thank you.

[2022-02-13 05:02] lachlanjc commented on #2124
Oh phenomenal! Both Piotr & I are unpaid volunteers maintains the projects each with full-time jobs, so we sometimes are less active for a few days when we're doing other things. Especially if we suggested an implementation, you never need permission to open a PR, & we'll just review it as soon as we can!

[2022-02-13 13:35] PeterlitsZo commented on #2131
Hello. I am sorry that I cannot fix it. I try to replace the JSX:
[code]

It works well. It looks that the `jsxFactory` and `jsxInject` not work at all. I think because that storybook do not read `vite.config.ts` and `viteconfig.base.ts` at all. Because I add a statement in those files:
[code]

But nothing happen. Would you please try to ask storybook that how to add config for vite?

[2022-02-13 13:42] aryanjha256 opened #2133 "docs: Specify MDX version to install"
### **Server Error**

`Error: require() of ES Module C:\Users\ARYAN\Desktop\itsaryan\node_modules\@mdx-js\react\index.js from C:\Users\ARYAN\Desktop\itsaryan\node_modules\@theme-ui\mdx\dist\theme-ui-mdx.cjs.dev.js not supported.
Instead change the require of index.js in C:\Users\ARYAN\Desktop\itsaryan\node_modules\@theme-ui\mdx\dist\theme-ui-mdx.cjs.dev.js to a dynamic import() which is available

[2022-02-13 13:46] RoyalHunt commented on #2131
OK. Thank you for your support

[2022-02-13 13:46] #2131 closed, assigned to nobody

[2022-02-13 14:02] lachlanjc commented on #2133
Yep, unfortunately this is a known issue, we just haven't figured out the resolution: https://github.com/system-ui/theme-ui/issues/2023

We don't yet support MDX v2, which was recently released. The fix is to downgrade `@mdx-js/react` to the latest version of v1, & you should be good to go.

[2022-02-14 03:07] PeterlitsZo commented on #2131
Open discussion in `storybook`: https://github.com/storybookjs/storybook/discussions/17500.

Or it is a better idea to use other build tool (for example, webpack) because it may have more document than vite.

[2022-02-15 15:37] braaar commented on #2112
I've managed to find a clue: The fontSize of the text is `0` when inspecting in chrome. If I change that to something else the labels show up correctly.
![Screenshot 2022-02-15 at 17 37 33](https://user-images.githubusercontent.com/5765650/154095524-d6d21b32-f162-4439-85e5-1dad604ab5cb.jpg)

[2022-02-15 15:37] braaar commented on #2112
I've managed to find a clue: The fontSize of the text is `0` when inspecting in chrome. If I change that to something else the labels show up correctly.
![Screenshot 2022-02-15 at 17 37 33](https://user-images.githubusercontent.com/5765650/154095524-d6d21b32-f162-4439-85e5-1dad604ab5cb.jpg)

[2022-02-15 15:38] braaar commented on #2112
Removing `0` from the `fontSizes` array in the theme fixes the issue!

[2022-02-15 15:43] braaar commented on #2112
Perhaps we want to change the current behaviour, so that if you have a fontSizes array that starts with the value `0` you can still see the labels.

One approach would be to have the color swatch labels use the same fontSize as normal `<p>` or `<span>` elements, I suppose?

[2022-02-15 16:04] lachlanjc commented on #2112
Ooh, good find! I wonder about the `undefined` title bug then?

[2022-02-16 10:13] braaar commented on #2112
I'm working on setting up some unit testing in `style-guide`, and my test outputs this:

![Screenshot 2022-02-16 at 12 10 56](https://user-images.githubusercontent.com/5765650/154243018-8517c6cc-8057-42f3-9647-71fd4b9a489b.jpg)

Here's the source code:
[code]

So this test is unable to reproduce the behaviour. I'll have to look into this further.

[2022-02-16 12:15] braaar commented on #2112
I have still not managed to pinpoint why this goes wrong, but I have found a fix that works. If I use `getColor` from `@theme-ui/color` instead of `get` from `theme-ui` to get the colors inside the `ColorSwatch` component, the titles are defined correctly.

I made these changes in the javascript `dist` files in the `bjerkio/brand` project:
`node_modules/@theme-ui/style-guide/dist/theme-ui-style-gu

[2022-02-18 15:31] PeterlitsZo commented on #2124
PR: #2137

This issue is closed.

[2022-02-18 15:31] #2124 closed, assigned to nobody

[2022-02-21 01:15] lachlanjc commented on #2127
Ultimately, we're a styling library, & we want to be usable regardless of what framework or other libraries you want to solve your non-styling problems. While there's a reasonable argument it'd be easier to adopt Theme UI if we maintained all these interactive components ourselves, they're an order of magnitude more complex than the styling primitives we offer, & we don't have either the time or t

[2022-02-21 01:17] lachlanjc commented on #629
As the primary docs maintainer, I super agree! I would absolutely love contributions to make this clearer; it's certainly difficult to understand right now.

[2022-02-22 21:21] collinpowell opened #2139 "Latest Version Not working with nextjs"
**Describe the bug**
I get an error message when i use them-ui 0.13.1 on nextjs frame work

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional contex

[2022-02-22 23:57] lachlanjc commented on #2139
Hi! Please provide a link to a reproduction & more details on how you're using Theme UI. Next.js is most certainly supported, & it is working with the latest Theme UI, but if you're running into a specific issue we're happy to assist.

[2022-02-22 23:57] #2139 closed, assigned to nobody

[2022-02-28 22:19] hasparus commented on #2127
There's nothing to be sorry for, @PeterlitsZo. I just proposed I can help you out live on Discord if you have problems with Theme UI 😅

[2022-03-03 13:39] MuhammadJamaluddin opened #2159 "useBreakpointIndex causes flickering"
**Describe the bug**
When `useResponsiveValue` is called **_twice_** once in the skeleton screen & another time in the actual screen, it causes a flicker

Why this is happening?
cause we initially have `const [value, setValue] = useState(defaultIndex);` where `defaultIndex` is `0` & then `setValue` is triggered after the component renders resulting in this flicker effect... using `useLayoutEffect`

[2022-03-05 20:56] swamidass opened #2162 "Set react variant based on rehype element class?"
I'm using html source files for articles that  are converted with rehype-parse, some plugins, then rehype-react. Is there a way to set the react components' variant based on the classes assigned to the hast elements?

[2022-03-05 21:44] #2162 closed, assigned to nobody

[2022-03-07 15:12] jonathanharrell opened #2164 "Ternary `sx` statement with `undefined` causes component unmount/remount"
**Describe the bug**
Let's say I have a basic React component:

[code]

And then I use `sx` on that component, swapping between an object and `undefined` based on some state:

[code]

This causes the `Test` component to unmount/remount (along with any children it renders).

This is because when the `sx` prop is defined, `Test` is rendered inside `EmotionCssPropInternal` and when it's undefined, it

[2022-03-10 09:21] seisenreich opened #2165 "Theme-UI and Material UI v5 not working together out of the box"
**Describe the bug**
Dear Theme UI dev team and community,

my team maintains a frontend which utilizes MUI v4 and Theme UI.
We are trying to upgrade to MUI v5 but are not able to because of a bug which occurs when using Theme UI and MUI v5 together.
Using both libraries ThemeProviders, MUI will crash our app under specific circumstances.
I already created an [issue](https://github.com/mui/materia

[2022-03-10 10:53] george-clark-s commented on #668
@mxstbr I've been implementing themeui with a project and really enjoying using it apart from the typescript integration..
Do you have any advice on fixing this sort of issue:
`Object literal may only specify known properties, and 'containers' does not exist in type 'Theme'`
I thought `containers` should be part of the `Theme`?

[2022-03-10 11:04] hasparus commented on #668
@george-clark-s `theme.layout`

https://theme-ui.com/components/container/#variants

[2022-03-10 11:18] george-clark-s commented on #668
Thanks so much @hasparus

Still getting type issues..

Initially we had this:

[code]

Now we have this:

[code]

Basically just trying to add a mixture of themeui and user defined container layout variants without getting type errors?
It looks from the docs like a container variant needs to be under the theme.layout.container scope?
Is this right? because Types are still complaining..

[2022-03-10 14:44] hasparus commented on #668
@george-clark-s, could you create a new issue, discussion or ask for help on Discord? This issue is from 2020 and it's pretty big, so any conversation here will land in notifications for a bunch of people.

[2022-03-10 15:24] george-clark-s commented on #668
thanks @hasparus  Cant find anything on discord related to theme-ui.. do you know the channel/server?

---

_Edit (@hasparus here): Here you go, mate — https://discord.gg/theme-ui — it's linked in the readme if you need it again._

[2022-03-11 02:27] lachlanjc commented on #2165
I appreciate the thorough write-up, but both Theme UI & MUI intend to be full-stop styling solutions for your app, so I would not at all recommend combining them—they overlap very significantly in functionality. Because this is such a 0.01% use case, I don't expect we'll put effort into fixing this issue if it only affects this combination setup. If you find the issue & would like to contribute a

[2022-03-11 02:29] lachlanjc commented on #2164
Appreciate the report! Is this causing issues in your project? Or more like a "oh that's funky" that's not meaningfully slowing it down?

[2022-03-11 15:27] hasparus commented on #2164
I had been initially conflicted about handling `sx` prop set to `undefined` differently than missing `sx` prop.
However, I understand this remount can cause component state to be discarded resulting in a unexpected _gotcha_ moment.

For now, could you an empty object `{}` instead of `undefined`?

[2022-03-14 13:00] jonathanharrell commented on #2164
Yes, I am using `{}` for now to resolve the issue. It was an unexpected behavior and took a while for me to track down what was causing component remounts, so I think at the very least it should be documented. Thanks for the response!

[2022-03-15 19:15] undrscrdt opened #2166 "Size shorthand is overwriting an existing CSS property"
I was mighty confused why my printing stylesheet wasn't working, until I finally discovered that the `size` property was being replaced with `width` and `height`.

[size is a property used for defining @page size](https://developer.mozilla.org/en-US/docs/Web/CSS/@page/size)

I might recommend `wh` as a shorthand instead, as it describes the format of the string to be passed, is shorter, and is gen

[2022-03-16 09:05] hasparus commented on #2166
Thanks for the issue @thecrowkeep!

@lachlanjc do you see any solution for it other than getting rid of `size` shorthand with a breaking change?

[2022-03-17 01:56] lachlanjc commented on #2166
Nope, I think that's the only good way to do this

[2022-03-17 12:12] braaar commented on #2112
Are there any maintainers who could comment on whether adding the import (`import { getColor } from '../../color/src'`) to `ColorSwatch.tsx` is okay or not?

Would the `style-guide` still work if the user hasn't installed the `@theme-ui/colors` package?

[2022-03-17 14:26] hasparus commented on #2112
@braaar TBH I'm not sure if it would build at all if you mean the deep import `../../color`. I see no reason not to import `{ getColor } from '@theme-ui/color'` though.

[2022-03-17 15:43] undrscrdt commented on #2166
Alternatively you could check if it's under the `@page` media query, as far as I am aware that's the only place the `size` property is used, and `@page` ignores `width`/`height` properties. So I don't see that being a breaking change as no one would be using the `size` shorthand under `@page`.

I'm just not sure about the complexity of implementing something like that, just wanted to throw that ou

[2022-03-18 08:03] braaar commented on #2112
In that case I suppose I could write a PR with the fix I described?

Or should we rather take this opportunity to investigate why exactly `get()` fails when `getColor()` succeeds?

[2022-03-18 14:18] hasparus commented on #2166
It makes sense. Good idea @thecrowkeep!

[2022-03-20 23:49] benface commented on #2166
Would it work to rewrite `size: x` as `size: x; width: x; height: x`? `size: x` would simply be ignored outside of a `@page` context, and `width: x; height: x` would be ignored in a `@page` context.

Also, relevant discussion in the CSSWG: https://github.com/w3c/csswg-drafts/issues/820

[2022-03-21 11:47] #1964 closed, assigned to hasparus

[2022-03-21 12:23] #1417 closed, assigned to nobody

[2022-03-21 12:23] #1420 closed, assigned to hasparus

[2022-03-21 12:54] hasparus commented on #2026
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:54] hasparus commented on #2026
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:54] hasparus commented on #1471
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:54] hasparus commented on #1470
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:54] hasparus commented on #1435
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:54] hasparus commented on #1728
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:55] hasparus commented on #1172
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:55] hasparus commented on #992
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 12:55] hasparus commented on #1814
:rocket: Issue was released in [`v0.14.0`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.0) :rocket:

[2022-03-21 13:19] hasparus commented on #2166
A workaround to use until we figure out how to solve this:

~~Opt out of shorthands with `css` prop. Style objects you pass to `css` go directly to Emotion, so we're not transforming the shorthand.~~

Edit: Better workaround in thecrowkeep's post below ⬇

[2022-03-21 18:49] undrscrdt commented on #2166
This is certainly helpful, though `@page`  is meant to be used in the root styles, so currently the only workaround I'm aware of is:
[code]

[2022-03-22 07:01] lachlanjc commented on #2166
Oh amazing! Yeah, that’s a much more elegant solution, though let’s document it in the Global styles doc &/or with our shorthands when it’s implemented.

[2022-03-22 14:04] herrethan opened #2171 "Can't use ref on Switch component"
**Describe the bug**
Can't use ref on Switch component when creating an HOC.

**To Reproduce**

[code]
Throws the TS error
[code]

There seems to be a clash between `props.ref` and the forwardedRef, where `props.ref` uses a LegacyRef which accepts a string.

**Hint**
I believe we just need to update `ComponentProps` to `ComponentPropsWithRef` here?

[  extends Assign<React.ComponentProps<'input'>,

[2022-03-22 14:41] herrethan commented on #2171
Note: workaround I'm using right now is to just remove the offending `ref` from the props
[code]

[2022-03-22 16:03] DParfitt commented on #2171
I think this is now the case with all components. I just upgraded to 0.14 and now no refs can be passed down to `Box` and `Flex` either.

[2022-03-22 16:19] hasparus commented on #2171
Thanks for the issue @herrethan!

[2022-03-22 16:41] hasparus commented on #2171
Hey folks, I just pushed a fix for this. Releasing after CI passes.

Thank you for updating to 0.14 so quickly and finding this!

[2022-03-22 17:34] hasparus commented on #2171
Should be fixed in [v0.14.1](https://github.com/system-ui/theme-ui/releases/tag/v0.14.1). Feel free to reopen if you have still experience this issue.

[2022-03-22 17:34] #2171 closed, assigned to hasparus

[2022-03-23 13:24] herrethan commented on #2171
@hasparus thanks for the quick turnaround!

[2022-03-23 13:36] herrethan commented on #2166
Could this be related to this error I now have as of v0.14.1  around a css definitions conflict?
Happens with all components for me, just using `<Link />` as an example:

[code]

[code]

Or should this be a new bug?

[2022-03-23 13:43] seisenreich commented on #2165
Ok, I can understand that.
Sadly, I don't think I'll be able to contribute anytime soon, so I'll simply close the issue and call it a day using Theme UI, because removing MUI from our project would cause much more work and efford than removing Theme UI will.

[2022-03-23 13:43] #2165 closed, assigned to nobody

[2022-03-23 14:03] herrethan commented on #2165
@seisenreich I'm working on a very similar design system project that uses Theme-UI as a base and MUI v5 for extraneous more fully fleshed out components like tables, date pickers, tooltips, etc. I _have_ found luck so far in carefully creating a merged theme that satisfies both component families, but using a central source for values (design tokens). Some areas I had to do some jumping around we

[2022-03-25 22:11] lachlanjc commented on #2166
@herrethan That's definitely not this bug!

[2022-03-26 23:05] TKDev7 opened #2175 "Update theme-ui website"
If I am not mistaken, the docs website is using deprecated/removed stuff such as Themed.root and ColorModeProvider. Is this correct? Sorry I am new to theme-ui

[2022-03-29 05:27] hasparus commented on #2175
`ColorModeProvider` is not deprecated.
`Themed.root` is also not deprecated. The `as` prop on Themed components was deprecated, but the components are totally fine.

[2022-03-29 05:28] #2175 closed, assigned to nobody

[2022-03-29 12:31] hasparus commented on #2166
@herrethan could you create an issue with some reproduction? This bug looks like something that could happen, but I can't recreate it on my side.

[2022-04-07 00:08] AbdallahAbis commented on #980
@lachlanjc Any updates on this?

[2022-04-07 00:29] lachlanjc commented on #980
@AbdallahAbis Nope! Would love contributions improving performance if you'd like to investigate.

[2022-04-07 13:22] hasparus commented on #980
One problem is that the color modes detection has to be blocking — it's reading from localStorage, and we need it to happen ASAP to avoid color flash.

However, I know a few companies using Theme UI without color modes... I've advised people to manually use `@theme-ui/core` and add more packages as needed in such case. If this is more common than we expected we could reorganize the docs to deprior

[2022-04-07 18:22] hasparus opened #2197 "`useBreakpointIndex` and `useResponsiveValue` don't handle full `@media` queries in `theme.breakpoints`"
`useBreakpointIndex` and `useResponsiveValue` don't handle full `@media` queries in `theme.breakpoints`.

Thanks for finding this @danimadmolil 🙏.

### Discussed in https://github.com/system-ui/theme-ui/discussions/2195

<div type='discussions-op-text'>

<sup>Originally posted by **danimadmolil** April  7, 2022</sup>
Hellow, i'm new to theme-ui. my project is simple react-app.on index.js i create

[2022-04-07 18:26] hasparus opened #2198 "Ensure all transitive peerDependencies are listed correctly and test Yarn 2/3 installs"
We're currently causing peerDependency warnings in Yarn 2.
Whenever we depend on something, this dependencies peerDependencies must be listed either in our peerDependencies or in our dependencies.

### Discussed in https://github.com/system-ui/theme-ui/discussions/2196

<div type='discussions-op-text'>

<sup>Originally posted by **jw-miaem** April  7, 2022</sup>
Reason I ask (before raising) is be

[2022-04-21 13:19] #2197 closed, assigned to hasparus

[2022-04-21 13:29] hasparus commented on #2197
:rocket: Issue was released in [`v0.14.3`](https://github.com/system-ui/theme-ui/releases/tag/v0.14.3) :rocket:

[2022-04-21 20:54] benface opened #2207 "Provide Theme UI-specific "Global" component for global styles"
**Is your feature request related to a problem? Please describe.**
Theme UI's documentation [suggests to "use the Emotion Global component to add global CSS with theme-based values"](https://theme-ui.com/guides/global-styles#global-styles). That's great, but every once in a while, I forget that the syntax for its `styles` prop is different than what the `sx` prop allows, leading to wasted time and

[2022-04-21 23:02] samueljseay opened #2208 "Inferred type causes confusion"
**Describe the bug**
If you declare a style object and don't explicitly type it as `ThemeUICSSObject` then the `ThemeUIStyleObject` type is inferred and `position: string` is not ok with that type.

**To Reproduce**
Here's a [minimal reproduction](https://codesandbox.io/s/naughty-rgb-q62ycr?fontsize=14&hidenavigation=1)

**Expected behavior**
I would expect the inferred type to be ok with `positio

[2022-04-22 10:47] hasparus commented on #2208
Hey @samueljseay 👋 Thanks for the issue!

I'm probably going to dissapoint you here, but this is by design.
We can either typecheck position or assume it's always a string and any arbitrary string.

### What's happening?

What's happening here is that the inferred (just a fancy word for _automatic detection_) type is `{ position: string }`, and `sx` prop requires an argument of type assignable to

[2022-04-22 10:53] #2208 closed, assigned to nobody

[2022-04-22 11:07] hasparus commented on #2207
Hey @benface 👋

It would definitely be a great addition. I usually advised people to add stuff to a global CSS file or use a reset, but there are some use cases that just ask for a component similar to Emotion's Global. The solution you've described looks great.

Thank you for the issue 🙏

[2022-04-22 14:33] benface commented on #2207
Thank _you_ @hasparus!

I forgot to mention that I would expect the array syntax for responsive values to work as well (3rd example):

[code]

[2022-04-28 13:08] herrethan commented on #2166
@hasparus thanks, for some reason only some components now throw this error, so I'm starting to think its related to my environment.

But just to add something I have noticed which sounds related: certain css properties don't play nice in sx without being explicitly cast as `ThemeUIStyleObject`.

For example
[code]

But adding `position` makes TS barf
[code]

As long as you cast your sx styles as

[2022-04-30 11:55] appsolut-jahn commented on #2129
Same problem here. Installation on site level works fine, but when used inside our Gatsby theme, we receive the `ModuleParseError: Module parse failed: Unexpected token (17:2)` error message.
Working with theme-ui: 0.14.4 and Gatsby: 4.13.0

Did you made any progress on this issue?

[2022-04-30 15:16] hasparus commented on #2208
Hey @herrethan. The problem you described in https://github.com/system-ui/theme-ui/issues/2166#issuecomment-1112182620 is described in this issue.

Would you expect Theme UI to accept any string under `position:` and forfeit typechecking here?

[2022-04-30 15:19] hasparus opened #2216 "CodeChecks CI build-size-watcher no longer works?"
![image](https://user-images.githubusercontent.com/15332326/166111543-dcaf9d14-bc2b-4a6d-8ebf-81963b944a64.png)

We should either try to debug it or change to an alternative solution.

[2022-04-30 16:07] hasparus commented on #2129
@appsolut-jahn, @t2ca, could you try updating to `v0.14.5` and let me know if it fixes the problem on your side?

[2022-05-02 21:02] herrethan commented on #2208
Hey @hasparus , I knew I read [that](https://theme-ui.com/guides/typescript/#union-types-are-not-inferred-without-explicit-annotation) somewhere! [This](https://stackoverflow.com/questions/46710747/type-string-is-not-assignable-to-type-inherit-initial-unset-fixe) discussion is also relevant to the TS evolution on the topic.  I definitely prefer keeping it as is,  typed as `Position`, even if TypeS

[2022-05-05 05:01] fwextensions commented on #1596
FWIW, after creating a new site with Gatsby v4 and trying to style the `Link` component from there, I created a `.babelrc` file with @jinhyuk's code.  But I had to remove the `plugins: ...` line, because none of the babel plugins had been installed.  After that, I could style the link with `sx` while retaining its prefix paths behavior.

[2022-05-05 20:19] herrethan opened #2230 "Be able to override color mode on per-component basis"
**Is your feature request related to a problem? Please describe.**
This is just an idea for an enhancement, as I've recently come across the need to be able to render dark-mode variants of components in a light mode context. For example, the buttons on the github nav bar could be considered secondary, but in a dark context, although the whole page may be in light mode.

**Describe the solution you

[2022-05-06 17:17] herrethan commented on #2230
Ended up going with a class-based approach in the theme, like this (simplified)
[code]
Which is quite tedious if you have a lot of variants but is the cleanest solution as far as I can tell.

[2022-05-09 12:42] #2230 closed, assigned to nobody

[2022-05-09 18:55] hasparus commented on #2230
Yeaah, I think I agree. Creating new contexts for this might be performance intensive, so it's fine if you're doing it once on a page level, but it might be not what we want if we just want to override some buttons.

You could probably expand your solution to something like

[code]

if you end up needing a lot of those overrides.

[2022-05-13 06:01] jacksonbrim commented on #2133
Can you please update the documentation in the ReadMe and on the website so that the info reflects installing mdx-js/react v1? This project is used in a popular, but older tutorial that's causing some headaches for newbies.

`npm install theme-ui @emotion/react @mdx-js/react@1`

For yarn:
`yarn add theme-ui @emotion/react @mdx-js/react@1`

[2022-05-17 13:45] herrethan commented on #2230
@hasparus thanks for the idea! A very sneaky Proxy interceptor pattern I may just steal.

[2022-05-18 15:25] kapowaz opened #2234 "Provide an escape hatch for increasing the specificity of generated selectors"
**Is your feature request related to a problem? Please describe.**

I’m currently migrating a legacy system written using react-bootstrap to Theme UI. As the process of migration is undertaken, components written in each approach must live alongside one another. This legacy system is full of Bootstrap styles for styling generic elements without the need for applying any classnames, but since the s

[2022-05-18 15:51] lachlanjc commented on #2234
Hey, thanks for the thoughtful issue! Reading through this, I don't think this is something we'd try to offer; if you're making a fresh app with Theme UI, specificity is very rarely an issue, & we advise against using global styles, though it totally makes sense using them in a migration like this. Especially with color modes, I think using CSS custom properties is a much easier solution, & you ca

[2022-05-18 16:27] hasparus commented on #2234
Doesn't this work at this moment? AFAIK it's supported by Emotion, so we're getting it for "free".
@kapowaz
[code]

[2022-05-19 06:06] CamilleHbp commented on #1719
Hello! Has there been a regression? I use `"@theme-ui/core": "^0.14.5"` (not using the complete `theme-ui` package since the `mdx` package causes problems with Vite build) and the body has the default 8px margin that Chrome puts on the <body> element. I'm using React v18 if this has any incidence. Everything else seems to be working perfectly.

Any tips on how to fix this? Thank you!

[2022-05-19 06:11] CamilleHbp opened #2235 "It's not obvious that `@theme-ui/core` doesn't apply `styles.root`."
**Describe the bug**
The default 8px margin that Chrome puts on the <body> element is present, even when styling `root` to have margin and padding set to 0.

**To Reproduce**
Steps to reproduce the behavior:

Have `"@theme-ui/core": "^0.14.5"` (not using the complete theme-ui package since the mdx package causes problems with Vite build).
Inspect body and find a `margin: 8px` applied by default to

[2022-05-19 08:35] kapowaz commented on #2234
@lachlanjc

I appreciate this is unlikely to be an issue with new apps, but I think as Theme UI matures and is brought into existing projects, having a strategy for managing migration from older CSS methodologies is going to become increasingly important; I’d go so far as to say it could ultimately become an obstacle to adoption.

I think even using CSS custom properties you’re still going to need

[2022-05-19 09:24] kapowaz commented on #2234
As an interesting side-effect of using this double ampersand selector syntax, I’ve discovered that the `toHaveStyleRule()` matcher from @emotion/jest no longer correctly identifies the style properties being applied. `stylis` is able to parse them correctly, but there are two sets of properties: one for a single classname, with no style properties, and another with both, where all the style rules

[2022-05-19 14:33] #2234 closed, assigned to nobody

[2022-05-19 19:01] hasparus commented on #2235
`@theme-ui/core` doesn't add any styles to the root. This is implemented "later" in `theme-ui` (actually `@theme-ui/theme-provider`). I'm not sure if this is explained in the docs TBH.

Take a look at [RootStyles](https://github.com/system-ui/theme-ui/blob/2bf16859ee3001c1a0666535b6a3e2a0ccbe55e2/packages/theme-provider/src/index.tsx#L18)

[2022-05-19 20:39] AlexisLeite opened #2236 "Radio forces iframe to scroll in a wrong way"
As the title says, the radio button in a particular situation, forces the browser to scroll in a bad manner.

**To Reproduce**

- Please, visit: https://codesandbox.io/s/clever-tamas-2wszu6?file=/src/App.js:37-43
- Focus the input at the beginnig of the document.
- Press tab until the scroll gets broken

[2022-05-23 14:43] lachlanjc commented on #2236
Hey! I'm trying this out but I don't see any scrolling that's broken—I wouldn't recommend scrollable fixed-position elements in general, but pressing tab through the focusable elements, the frame scrolls just fine for me. Can you be more specific about the behavior you're expecting vs seeing here?

[2022-05-23 17:37] AlexisLeite commented on #2236
I dont know why it didn't fail to you, we tried it with my mates and it failed to us all. Here you have an attached video to see what happens to me

https://vimeo.com/712960511

[2022-05-23 19:02] hasparus commented on #2236
Can you remove `overflow: hidden` from the top level box? It solves the problem.

https://codesandbox.io/s/sad-lichterman-cenwbv?file=/src/App.js

If you have bandwith, we'd love a deeper insight into why does this fail in your use case. Is the visually hidden input the culprit? Can this behaviour be observed with other styled radio inputs?

[2022-05-24 11:10] hasparus opened #2237 "Rethink packages structure"
When you get started with Theme UI, it's not trivial to know what feature is powered by what package, as most of the functionalities we provide are _opt-out_ not _opt-in_. This has led to confusion many times.

 - see https://github.com/system-ui/theme-ui/issues/2235

I think we should address it by looking at how people use Theme UI in production and redesigning how the features are split to matc

[2022-05-30 14:38] AlexisLeite commented on #2236
Hi, sorry for the delay.

I've solved the problem with this css code:

`input[type="radio"], input[type="checkbox"] {
  position: relative !important;
  float: right;
}`

Greetings

[2022-05-31 19:53] fwextensions commented on #1350
I don't doubt there's a logical reason for it, but as Theme-UI novice, the whole pragma thing makes the lib feel a bit confusing and unpredictable.  I was definitely expecting the `sx` prop to work on `Themed` components without any pragma hijinks.  Hopefully someone can pick this issue up.

[2022-05-31 19:58] fwextensions commented on #1350
Is this working now?  I thought it wasn't at first, and started searching for a fix.  But I'd confused myself with some duplicated code, and the `sx` prop seems to be working on `Themed` components without adding the pragma.

[2022-06-02 14:41] hasparus commented on #1350
Hey @fwextensions, I just doublechecked the code, and we do use Theme UI's `jsx` function to create Themed components, so `sx` should work. I think I missed it in the types though. Are you using TS or JS?

[2022-06-02 18:26] fwextensions commented on #1350
I'm using JS.

[2022-06-06 20:54] #2236 closed, assigned to nobody

[2022-06-07 05:37] john20xdoe commented on #2133
**Notes** (since the original title indicates next.js was being used):

Downgrading to the v1 of mdx-js (1.6.22?) makes it depend only up to react@17.
So those who already use react@18 and above (for example, users of latest NextJS), will not be able to use the downgrade workaround unless they also downgrade the other.
![image](https://user-images.githubusercontent.com/14521605/172303885-f7e43011-

[2022-06-07 16:53] hasparus commented on #2133
@john20xdoe Please use `--legacy-peer-deps` for now. MDX 1 doesn't depend on React 17, it was just written at the time React 17 was the newest version.

[2022-06-08 02:19] john20xdoe commented on #2133
@hasparus ooh, didn't realize there's an option for that. Thanks

[2022-06-08 05:21] ckeeney commented on #2023
Is there a known workaround for this?  I don't use MDX so I tried just not requiring `@mdx-js/react` in my `package.json`, but that didn't work, theme-ui complained about the missing module.

[2022-06-14 05:29] ckeeney commented on #2023
Downgrading `mdx-js` to version 1.6 solved this issue for me.

[2022-06-15 09:36] julianste opened #2251 "peer dependency issue for @theme-ui/prism@0.14.5"
**Describe the bug**
 Output of `npm info @theme-ui/prism@0.14.5 peerDependencies` is

[code]
so it is not compatible to theme-ui 0.14.5, but probably should be?

**Expected behavior**
I'm no javascript expert but shouldn't @theme-ui/prism@0.14.5 be compatible to theme-ui 0.14.5? So output is something like
[code]

**Screenshots**
on npm install
<img width="644" alt="Screenshot 2022-06-15 at 11 22

[2022-06-15 11:41] hasparus commented on #2251
Good catch @julianste! Thanks for the issue.

[2022-06-15 11:48] #2251 closed, assigned to nobody

[2022-06-15 12:29] hasparus commented on #2251
Released in [v0.14.6](https://github.com/system-ui/theme-ui/releases/tag/v0.14.6)

[2022-06-15 14:08] andycoles commented on #2165
@herrethan - I am facing a similar challenge on my team. Interested to know where you landed on this. Are you able to throw together a codesandbox POC with a merged theme which interoperates between theme-ui and mui?

Thanks you for the thread!

[2022-07-01 05:06] charleshoong97 opened #2253 "I wish to change the color of checkbox after checked."
I do not found any documentation stated how to change the color of checkbox once checked.

Please provide the description to achieve this.

[2022-07-01 17:52] lachlanjc commented on #2253
The Checkbox component will use your theme's `primary` color when checked: https://github.com/system-ui/theme-ui/blob/develop/packages/components/src/Checkbox.tsx#L92

Here's our docs on adding colors to your theme: https://theme-ui.com/theming#colors

Happy to help with any specific issues you're running into with your theme!

[2022-07-01 17:52] #2253 closed, assigned to nobody

[2022-07-07 00:23] lasharela opened #2266 "Theme colors doesn't apply on production"
**Describe the bug**
I have a TypeScript-based next.js application. I migrated theme-ui from an old project where it was working on production and on local as well. While migration I updated theme-ui to the latest. here is my `package.json`

[code]

I have  `<ThemeProvider theme={theme}>` inside of `_app.tsx` (I tried directly to pages as well)

locally everything is working fine. Even if I'll try

[2022-07-07 01:17] #2266 closed, assigned to nobody

[2022-07-07 16:42] hasparus commented on #2266
Hey @lasharela, did you figure out the cause of the problem?

[2022-07-08 02:52] charleshoong97 opened #2267 "Change the placeholder for Input type = Date"
How can I change the placeholder from mm/dd/yyyy to '-Select-'?

![image](https://user-images.githubusercontent.com/45910910/177905090-39c81711-7f23-4801-b3da-4edbbe593061.png)

[2022-07-09 23:05] lachlanjc commented on #2267
The placeholder attribute does not work with the input type date—this isn't Theme UI specific, just a browser behavior. You'll have to either make your own datepicker, layer inputs on top of one another, hack a text layer on top of the unfilled input using CSS, or settle for the browser behavior. Sorry it's not more satisfying :(

[2022-07-09 23:05] #2267 closed, assigned to nobody

[2022-07-14 22:51] undrscrdt opened #2268 "A system color mode (as opposed to changing to light/dark based on the system preferences)"
**Is your feature request related to a problem? Please describe.**
I'm trying to incorporate a color mode that will prefer the user's system settings if selected, however, other color modes will overwrite the system preferences. Basically if `theme-ui-color-mode` in localstorage is set to `system`, it will use `(prefers-media-query)`, but if it is set to `light` it will simply load the light color

[2022-07-15 09:04] hasparus commented on #2268
Hi @thecrowkeep 👋 Thank you for the issue!

Very legit feature request! We've actually discussed it recently in https://github.com/system-ui/theme-ui/discussions/2264.

[2022-07-17 23:34] undrscrdt commented on #2268
My bad! I can't believe I missed that. Sorry for making a duplicate!

[2022-07-18 19:00] johno commented on #2023
I'm inclined to think that Theme UI should go all in on ESM here and use something like [`tsup`](https://github.com/egoist/tsup) to build the packages rather than Preconstruct's faux-ESM.

Since Theme UI is an MDX user and MDX itself has gone all in on ESM - it's likely time to rip off the bandaid. Right now a fresh install of Theme UI, MDX, and Next.js effectively fails since it brings in MDX v2.

[2022-07-18 19:49] mryechkin commented on #2023
@johno +1 to that proposed API approach, keeps the pattern consistent with `@mdx-js/react` usage

[2022-07-31 13:35] web-programmer-here commented on #2023
Is there a fix for this? Using `"@mdx-js/react": "^1.6.22",` gives dependency error with react 18

[code]

[2022-08-01 11:18] #1350 closed

[2022-08-01 11:22] hasparus commented on #2023
@web-programmer-here, use `--legacy-peer-deps` for now as a workaround until a new version of Theme UI is released.

[2022-08-02 00:32] web-programmer-here commented on #2023
@hasparus thanks, that fixed my issue, is there an eta for theme ui update to fix this issue? thanks

[2022-08-05 06:41] LekoArts commented on #2023
FYI, we'll be releasing a new major of `gatsby-plugin-mdx` on August 16 with support for MDX v2: https://github.com/gatsbyjs/gatsby/pull/35650

I haven't tried https://github.com/LekoArts/mdx-v2-example with Theme UI yet to see if there any compat issues, just wanted to put this on y'all radar.

[2022-08-09 20:51] arantespp opened #2290 "Creating a guide how to style third-party libraries"
**Is your feature request related to a problem? Please describe.**

We're using Theme UI to create our components library, and we had difficulty understanding how to style third-party libraries—when to use `sx`, variants, wrapper in a parent `Box`, using `classNames`...

**Describe the solution you'd like**

It'd be interesting if we had a guide with all possible ways to style a third-party librar

[2022-08-10 19:33] Merlin04 opened #2291 "`IntrinsicSxElements` does not include `span` property"
**Describe the bug**
The `IntrinsicSxElements` interface, defined in `@theme-ui/core/src/types.ts`, appears to be the only public-facing way to access the types of props of Theme UI's JSX intrinsic elements. It does not include a `span` property, despite including properties for seemingly every other major element type (like `div`, `h1`-`h6`, `img`, `code`, etc).

**To Reproduce**
Steps to reprodu

[2022-08-11 15:43] hasparus commented on #2291
I've removed `IntrinsicSxElements` in my latest PR. You can use `React.ComponentPropsWithoutRef<'span'>` in your case. If you have `@jsxImportSource` comment or `"jsxImportSource"` configured in your TypeScript config, it should automatically add the `sx` prop to `span` props.

[2022-08-11 20:51] Merlin04 commented on #2291
Oh nice, didn't realize that - thanks so much!

[2022-08-11 20:51] #2291 closed, assigned to nobody

[2022-08-12 05:25] #1751 closed, assigned to nobody

[2022-08-12 05:35] hasparus commented on #1751
:rocket: Issue was released in [`v0.15.0-develop.17`](https://github.com/system-ui/theme-ui/releases/tag/v0.15.0-develop.17) :rocket:

[2022-08-25 07:30] yulodl opened #2297 "why not call getIndex() as initialState?"
https://github.com/system-ui/theme-ui/blob/571ba9faed73c64f06498c8467b60416cd89448f/packages/match-media/src/index.ts#L25

I wonder why not automately call getIndex() as initialState?
Only call getIndex() inside useEffect, so the hook will be compatible with SSR ? But we can distinct with window existence to make compatible with SSR.

[2022-08-25 07:40] hasparus commented on #2297
If we depend on `window` we will make it incompatible with SSR, won't we? We'd get one result on serverside render, then another one in hydration, that causes a mismatch and shows up everyone's favorite SSR error message.

Take a look at this: https://nextjs.org/docs/messages/react-hydration-error#possible-ways-to-fix-it

[2022-08-25 15:51] yulodl commented on #2297
Got it！Thanks for answering. I will close this.

[2022-08-25 15:53] #2297 closed, assigned to nobody

[2022-08-26 11:13] ardasevinc commented on #2290
I'm also interested in this

[2022-08-27 00:37] lachlanjc commented on #2290
That’d be fantastic! We’d love a contribution of a guide. I’m unlikely to write one myself but happy to review/edit.

[2022-08-29 15:54] hasparus commented on #2290
There are definitely some caveats and mines to step here, so a guide could definitely add some value.

We could also hop on Discord or a Twitter space and chat about it.

I've been solving a lot of `useResponsiveValue` and `useMatchMedia` related SSR problems lately.
This wouldn't be a problem in case of your [Modal](https://github.com/ttoss/ttoss/blob/main/packages/components/src/components/Modal

[2022-08-30 19:02] moimikey commented on #2133
these feels like a bandaid fix. i use `projen` and by default when it tries to install my node dependencies, it errors on necessitating `--legacy-peer-deps` which is bothersome. is there a long-term workaround coming soon?

my current solution is throwing this into `.npmrc`, so the flag isn't explicitly needed for CI and newly onboarded devs who would otherwise run into this error:
[code]

[2022-09-12 04:42] #2133 closed, assigned to nobody

[2022-09-12 04:52] hasparus commented on #2133
:rocket: Issue was released in [`v0.15.0-develop.23`](https://github.com/system-ui/theme-ui/releases/tag/v0.15.0-develop.23) :rocket:

[2022-09-12 16:31] hasparus opened #2318 "`FontWeightProperty` doesn't accept arbitrary strings"
Currently, we're just exposing the types from `csstype`. We should expose our own layer of types instead and allow `string & {}` in fontWeights.

### Discussed in https://github.com/system-ui/theme-ui/discussions/2317

<div type='discussions-op-text'>

<sup>Originally posted by **joriswitteman** September 12, 2022</sup>
Hi, we're looking to use CSS variables as values for Theme.fontWeights, but th

[2022-09-15 11:08] hasparus opened #2319 "0.15.0-develop release is broken"
I managed to break the automatic release when fixing tests in `opt-in-mdx` branch 😅

To fix it, I'll need to

- remove `--no-frozen-lockfile` from the install command on CI — Auto fails with
[code]

- make sure it installs properly with the same versions of dependencies
- ensure the publish runs after `yarn build` (actual production build) not `yarn dev` (preconstruct links)

---

Original error i

[2022-09-15 21:01] lachlanjc commented on #2112
I just set up my [next-theme-starter](https://github.com/lachlanjc/next-theme-starter) & used the `ColorPalette` component; everything's working as expected: https://v2f31b-3000.preview.csb.app/

<img width="1728" alt="CleanShot 2022-09-15 at 16 59 48@2x" src="https://user-images.githubusercontent.com/5074763/190507768-4394aadb-7a82-4039-8289-4810f8401a50.png">

Did we figure out if there's a wide

[2022-09-15 21:33] herrethan commented on #2165
Hey @andycoles, unfortunately its a private project, but I created gists to show where we are at currently:

Theme-ui theme: https://gist.github.com/herrethan/a17e98427b5af61b520dfe2c3ba3085e
MUI-theme: https://gist.github.com/herrethan/1eeff6cff554e8230f963841a2c1313b

You'll see the MUI theme basically inherits everything it needs from the theme-ui theme.
So far, as expected, the only time we ne

[2022-09-16 08:32] sommoMicc commented on #2012
Hello! What a great idea!
Please do!

[2022-09-16 08:34] loramt commented on #2012
This would be awesome!

[2022-09-16 08:57] httpiga commented on #2012
I would love seeing this become a thing!

[2022-09-18 14:19] #2016 closed, assigned to nobody

[2022-09-18 14:51] hasparus commented on #2016
:rocket: Issue was released in [`v0.15.0-develop.27`](https://github.com/system-ui/theme-ui/releases/tag/v0.15.0-develop.27) :rocket:

[2022-09-18 14:51] hasparus commented on #2016
:rocket: Issue was released in [`v0.15.0-develop.27`](https://github.com/system-ui/theme-ui/releases/tag/v0.15.0-develop.27) :rocket:

[2022-09-18 17:25] hasparus commented on #2319
I fixed some problems on the CI, got rate-limited by GitHub, and ended up releasing `v0.15.0-develop.30` manually.

[My test CodeSandbox getting some problems from `@mdx-js/loader` in Next.js](https://codesandbox.io/s/theme-ui-0-15-0-develop-test-ovttsl?file=/package.json), but it's disconnected from Theme UI.

[2022-09-18 17:25] #2319 closed, assigned to hasparus

[2022-09-19 04:22] lachlanjc commented on #1382
We've significantly improved documentation on our JSX pragma, over here: https://theme-ui.com/guides/jsx-pragma

Going to close this for now, but please flag if there's improvements we should make!

[2022-09-19 04:22] #1382 closed, assigned to nobody

[2022-09-19 04:22] lachlanjc commented on #1971
BOOM you did it @hasparus

[2022-09-19 04:22] #1971 closed, assigned to nobody

[2022-09-19 04:25] lachlanjc commented on #2065
@hasparus I'm not sure if this is possible with how our packages are set up; since `color-modes` is an optional package, how would we override [this line](https://github.com/system-ui/theme-ui/blob/develop/packages/css/src/index.ts#L361) if that context exists?

[2022-09-19 04:26] #2074 closed, assigned to nobody

[2022-09-19 04:37] lachlanjc commented on #2023
Great news @johno! Our latest `develop` release fixes this issue thanks to @hasparus. Just forked your test repo & updated deps, it's working: https://github.com/lachlanjc/repro-mdx-v2-theme-ui/commit/5990f8e1c093e27493777e66df9f080f6d2deb1e

[2022-09-19 04:37] #2023 closed, assigned to nobody

[2022-09-19 07:24] braaar commented on #2112
This issue contains two different problems, one of which has been fixed. The other problem that is still unsolved is that when you hoved the color swatches, you see `undefined`, rather than the hex color value of that color.

I made a PR for this just now.

[2022-09-19 08:17] joriswitteman commented on #2318
An issue for exactly this exists at `csstype` also but is not planned until `v3.1.0`:
https://github.com/frenic/csstype/issues/126

[2022-09-19 13:56] hasparus opened #2325 "Handle the case where we don't need to release in `publish-to-npm.mjs` script"
**Idea** If all versions in package.json files in `packages/` were already set to the newest version — i.e. if git status reports "no change" — we can exit the process with 0.

<img width="912" alt="image" src="https://user-images.githubusercontent.com/15332326/191033647-ae0b39e3-7f4c-41ea-9683-629b1409d5ce.png">

[2022-09-19 14:40] johno commented on #2023
Awesome @lachlanjc and @hasparus, thanks! Y'all rock!

[2022-09-20 12:19] #2112 closed, assigned to nobody

[2022-09-26 12:37] hasparus commented on #2065
Aren't all functions dependent on colors unsafe in SSR?

[2022-09-27 22:02] fwextensions opened #2330 "v0.15.1: `Error: Can't resolve '@mdx-js/react'` in gatsby plugin"
**Describe the bug**
Upgraded from 0.14.7 to 0.15.1, did a fresh install with `npm i`, and now running `gatsby develop` fails with an error:

[code]

**To Reproduce**
Steps to reproduce the behavior:

Deps list in the package:

[code]

**Expected behavior**
My project is no longer using MDX, and I removed imports of `Themed`, so it's surprising to see `@mdx-js` being required.

**Additional contex

[2022-09-28 14:14] hasparus commented on #2330
Hey @fwextensions! Thanks for the issue. Could you check if the `0.15.2-canary.1` version fixes your issue?

I've just added __either__ version of `@mdx-js/react` to `peerDependencies`, as they're both supported.

[code]

[2022-09-28 19:04] fwextensions commented on #2330
Haven't tried the PR yet, but won't this still require the installation of MDX along with Theme-UI?  I thought this in the changelog meant MDX was jno longer required:

I'm not using MDX at all, so wouldn't expect to have to install it if Theme-UI doesn't need it.

[2022-09-29 07:59] #2325 closed, assigned to hasparus

[2022-09-29 08:00] #2330 closed, assigned to nobody

[2022-09-29 08:28] hasparus commented on #2330
`theme-ui` no longer depends on MDX, so it doesn't bring it (and `@theme-ui/mdx`) with itself.

`gatsby-plugin-theme-ui`, however, does.
It's written under assumption that you're using Gatsby for a blog / marketing website / documentation page.

What I'd do in your case, is either _["shadow"](https://www.gatsbyjs.com/docs/how-to/plugins-and-themes/shadowing/)_ `gatsby-plugin-theme-ui/src/provider.

[2022-09-29 21:12] gabobaxx opened #2332 "Property 'to' does not exist on type 'IntrinsicAttributes & Pick<LinkProps ..."
**Describe the bug**
Link Component does not recognize the "to" property and typescript detect that as error but the server runs with no problem.

**Screenshots**

![complete error](https://user-images.githubusercontent.com/59029788/193142699-f676f07d-6dbb-4da6-99e7-f849607d067e.png)
![react component](https://user-images.githubusercontent.com/59029788/193142724-7e73ffa4-6650-4e07-859d-2aaa68efc8a

[2022-09-30 06:27] hasparus commented on #2332
Hey 👋  Thanks for the issue!

`Link` doesn’t support isomorphic `as` prop in TypeScript, because it affected typechecking times severely.

Whenever you’re using `as=` in JSX, you might also need to use TypeScript type assertion (`x as NewType`).

[code]

[2022-09-30 13:21] gabobaxx commented on #2332
Thanks a lot. The problem was solved correctly!

[2022-09-30 13:21] #2332 closed, assigned to nobody

[2022-10-01 07:47] LekoArts commented on #832
Reading https://github.com/system-ui/theme-ui/issues/2330 - I think another breaking change could be to remove the `MDXProvider` from the `gatsby-plugin-theme-ui`. We've overhauled `gatsby-plugin-mdx` and it's more "barebones" to the other MDX implementations, so people using MDX are already expected to have a `MDXProvider`

[2022-10-04 14:10] #2235 closed, assigned to nobody

[2022-10-04 15:38] hasparus commented on #2235
:rocket: Issue was released in [`v0.15.2`](https://github.com/system-ui/theme-ui/releases/tag/v0.15.2) :rocket:

[2022-10-06 00:06] lachlanjc commented on #1406
I believe this issue is resolved now? But not 100% sure. @hasparus want to glance?

[2022-10-06 00:08] lachlanjc commented on #1527
I'm going to close this for now; I think the majority of instances of this issue were caused by multiple versions of Emotion being installed, a problem we've stopped contributing to via making Emotion a peer dependency. I've also found Next.js [Emotion compiler support](https://nextjs.org/docs/advanced-features/compiler#emotion) to improve this. Please let us know if you're still running into issu

[2022-10-06 00:08] #1527 closed, assigned to nobody

[2022-10-06 00:16] lachlanjc commented on #1863
We are not planning to implement this, since the `aspectRatio` CSS property can be used with an array for responsiveness. Would welcome a PR if anyone cares strongly. Thank you!

[2022-10-06 00:16] #1863 closed, assigned to nobody

[2022-10-06 00:19] lachlanjc commented on #1979
@5parkp1ug Hi! If you're still running into this issue, could you link code to reproduce this? I just this week updated the docs on Prism, not sure if that helps at all.

[2022-10-06 00:21] lachlanjc commented on #85
@hasparus My read 2+ years later here is great TypeScript support is enough (which we've got other issues for improving)—I think of TypeScript as the default for most developers, & if you're not using it you're aware you're missing out on validation all over the codebase. I'm not sure what you'd use this package for beyond that. Any other thoughts?

[2022-10-06 04:34] hasparus commented on #1406
Right now, colors computed with `@theme-ui/color`, `polished` or any similar library don't create a new CSS Custom Property, so they need recomputation by context update, not just a simple swap of custom properties.

So — color mode changes will still need the context update unless we map all CSS properties that can use colors into a set of selectors one for each color mode, and I'm not quite sure

[2022-10-06 04:34] #1406 closed, assigned to nobody

[2022-10-06 16:01] gabobaxx opened #2342 "Error: [useColorMode] requires the ColorModeProvider component"
**Describe the bug**
Colors, fonts and the other options works well but when i try render a button for change the theme color mode prints this error.

I am using remix btw. And everything was working fine.

**Expected behavior**
I want to change the color mode from light to dark.

**Screenshots**
![console error print](https://user-images.githubusercontent.com/59029788/194361825-12eaf107-5454-426c

[2022-10-06 16:41] hasparus commented on #2342
Hey! Thanks for the issue :)

ThemeProvider needs to be at the top, hooks inside.

[2022-10-06 17:21] gabobaxx commented on #2342
Can you please provide me a example, because i dont understand it.

Sorry for that but i want to resolve that problem.

[2022-10-06 23:29] #2342 closed, assigned to nobody

[2022-10-06 23:31] gabobaxx commented on #2342
Problem solved. I just remove node_modules folder and then I did a yarn install.

[2022-10-07 03:30] hasparus commented on #2342
Forgive me for that brief response, I was in a rush.

Take a look at the official Remix example using Theme UI:
**https://github.com/remix-run/examples/tree/main/theme-ui**

Your `ThemeProvider` should be in `root.tsx`, because all hooks exported from Theme UI expect to be __under__ the provider.

You might see this pattern in some React libraries:

[code]

[2022-10-07 03:39] hasparus commented on #85
@lachlanjc I'd keep this open, but the main reason an user would need this package is when you validate Theme UI themes at runtime... so if you build an app that's used to build other websites — like a CMS, or a MySpace profile page. Not a very popular use case.

I'd try [ts-json-schema-generator](https://github.com/vega/ts-json-schema-generator) as a starting point.

[2022-10-07 15:55] gabobaxx commented on #2342
Yes! Thanks a lot for responding me.

In fact I was guided by the remix example and that is why I was surprised the useColorMode hook did not work but I think it was problems with dependencies, I am doing a migration from Gatsby to Remix and I only remove node_modules folder and a yarn install and that works for me.

[2022-10-07 16:06] hasparus commented on #2342
Classic :D I'm happy to hear it works for you now. Have a great weekend, @gabrielba15.

[2022-10-11 02:11] masoud-naji commented on #926
Thanks
I know it's an old issue but I was looking for it on Next-Js , it finally works like this.

 "> li:nth-child(2)": {
                border: "1px solid red",
         },

[2022-10-13 09:35] nicfitzgerald commented on #2129
`"gatsby": "^4.24.4"`
`"gatsby-plugin-theme-ui": "^0.15.1"`
`"theme-ui": "^0.15.1"`
I am also getting this error. I have tried it inside my Gatsby theme, as well as at the site level. I have also tried to downgrade both the plugin and main `theme-ui` package to `v0.14.5`. I have even attempted to appease the issue by installing `@mdx-js/react` and `@emotion/react` per the formal [Gatsby plugin doc

[2022-10-14 04:08] hasparus commented on #2129
@nicfitzgerald Could you include the full error message?

[2022-10-17 08:16] nicfitzgerald commented on #2129
@hasparus -

[code]

That is the entire error message when I follow the [Gatsby Theming Tutorial](https://www.gatsbyjs.com/tutorial/building-a-theme/#use-and-override-a-theme-with-component-shadowing). I have copy and pasted everything from the tutorial so as to avoid mistyping.

[2022-10-22 08:27] chidera-ovuoba commented on #888
@yesnotnode
still didn't work

[2022-10-23 12:31] zhaohuanyuu opened #2349 "theme styles generate duplication css output"
**Describe the bug**
When I want to use the styles attribute to customize the native html tag style, for example: blockquote, but the style that ends up being generated to the page is repeated twice

**To Reproduce**
1. clone my reproduction project [blog production](https://github.com/zhaohuanyuu/blog-reproduction/tree/main)
2. yarn install & yarn start
3. Click the Blog header
4. Route to the na

[2022-10-25 14:02] ycgarrido opened #2350 "Not working with Web Component and Shadow DOM"
Hello, I am currently working on creating widgets. Widgets are developed with ReactJS and a bundle is compiled to include them as a Web Component. When I don't use shadowDom everything works perfect, but when I activate shadowDom the widget styles are lost.

Without Shadow DOM:
![image](https://user-images.githubusercontent.com/32363657/197794202-9af51416-5a94-40e3-982d-d789bae64765.png)

With Sha

[2022-11-01 15:29] lachlanjc commented on #2350
Hi there! Theme UI has no official support for web components, I don't know anything about the topic personally. Can you provide source code & a repro vs what the expected behavior is?

[2022-11-01 15:29] #2350 closed, assigned to nobody

[2022-11-03 16:10] SaraRavasio opened #2356 "Forwarding refs for a polymorphic React component"
**Is your feature request related to a problem? Please describe.**

At the moment, if I would try to use `Box` with a `as='svg' viewBox='0 0 24 24'` property, typescript will complain about the fact that `viewBox` is not a Box property, but that shouldn't be the case, as it is a property of `svg`. Plus, they should also allow passing and accepting the correct ref property.

<img width="698" alt="i

[2022-11-03 17:27] lachlanjc commented on #2356
Thanks for the detailed issue! PR fixing this for everyone would be very welcomed :) Previous attempts to fix this have been too slow, unfortunately.

[2022-11-08 06:56] lachlanjc commented on #862
Closed by https://github.com/system-ui/theme-ui/pull/2357!

[2022-11-08 06:56] #862 closed

[2022-11-08 06:57] #2127 closed, assigned to nobody

[2022-11-09 04:20] hasparus commented on #2356
Just FYI, the PR addressing this should attach `tsc --diagnostics`.

Personally, I think it's a footgun, and its every use case could be instead built with `sx` prop handled by JSX pragma. TypeScript can handle your JSX pragmas, so this shouldn't be a hard sell.

Radix UI's `polymorphic` package was pretty good, yet they still deprecated it in favor of `asChild` prop.

[2022-11-10 16:26] AgustinSTC commented on #926
@masoud-naji you save my day, buddy. Thank so much.

Thanks to @hasparus and @fredshevek as well

[2022-11-15 03:43] lachlanjc commented on #2111
Going to close for now in favor of the second solution I mentioned, which is a still-open issue!

[2022-11-15 03:43] #2111 closed, assigned to nobody

[2022-11-15 04:37] lachlanjc commented on #1568
I just tried digging into this again, using both Gatsby v4 & v5, & neither in dev nor prod can I recreate. Are you still seeing this issue @ftes?

Gatsby v4 site: https://gatsby-1568-ndqk8610h-systemui.vercel.app/ ([source](https://gatsby-1568-ndqk8610h-systemui.vercel.app/_src))
Gatsby v5 site: https://gatsby-1568-enqynq64w-systemui.vercel.app/ ([source](https://gatsby-1568-enqynq64w-systemui.ver

[2022-11-15 07:20] ftes commented on #1568
I've since switched tech stacks, so I can't say if the issue still exists.
I suggest closing the bug since nobody else complained and you couldn't reproduce it.

[2022-11-15 13:02] #1568 closed, assigned to nobody

[2022-11-17 19:49] felipe-silva-devtech opened #2361 "Spread emotion/react version import"
**Is your feature request related to a problem? Please describe.**
I'm using rollup to build my application and I'm getting some warning because rollup understands as a global module as can see in the follow image:

![image](https://user-images.githubusercontent.com/26209056/202544562-b72bc1bc-86db-4459-a5ef-7a20f631c653.png)

**Describe the solution you'd like**
My suggestion is spread the versio

[2022-11-17 20:08] lachlanjc commented on #2349
Yep, I'm having this issue too on sites like https://lachlanjc.com/ — not sure what's going on

[2022-11-18 10:46] hasparus commented on #2349
I don't see this problem in a commercial project nor in [CodeSandbox](https://codesandbox.io/s/theme-ui-0-15-0-develop-test-ovttsl?file=/next.config.js).

Also, not all classes in @lachlanjc's websites have duplicate styles.

<img width="336" alt="image" src="https://user-images.githubusercontent.com/15332326/202686771-3aa8ae5a-0e04-4a97-85bb-b17474914b70.png">

Do you guys think we can narrow thi

[2022-11-20 00:11] lachlanjc commented on #979
Is there still a usecase/desire for non-color theme values to be accessible via custom properties?

[2022-11-20 00:54] APiligrim opened #2363 "Theme-ui dosen't install with react version ^17.0.2"
**Describe the bug**
Hello team at Theme-UI,

I was trying to install theme-ui to an existing project and when I ran `npm install theme-ui @emotion/react` the error said that theme-ui 's version `0.15.4` is lower than my current react version `^17.0.2.`

Would theme-ui's dependencies be updated anytime soon? Or are there any other way to fix this issue aside from downgrading my current version of

[2022-11-20 01:58] lachlanjc commented on #2130
That makes a ton of sense! Here's the line of code that's causing this issue: https://github.com/system-ui/theme-ui/blob/develop/packages/theme-provider/src/index.tsx#L19

I'm not sure why it's written that way, but [goes way back](https://github.com/system-ui/theme-ui/commit/beb17721198a637d43a497ec8c79271fb7d6ca3d#diff-2def5773e36d9fb1b7c2a357a88544203ee44c89db78b72a694dd5c4307ea14a).

[2022-11-20 02:07] #2363 closed, assigned to nobody

[2022-11-20 02:08] lachlanjc commented on #1979
Closing unless there's more confirmation here, please feel free to comment!

[2022-11-20 02:08] #1979 closed, assigned to nobody

[2022-11-20 02:11] lachlanjc commented on #1230
At this point, including since MDX is no longer in the ThemeProvider picture, I think a clearer solution would be to update the https://theme-ui.com/packages/core page explaining why you'd want to use `core` & how it's different. For most users, using `theme-ui`, the fact that there's multiple options here isn't relevant/are just internal details.

[2022-11-21 18:42] CamilleHbp commented on #2235
Thanks for the follow-up and the change to the documentation ! 🙏

[2022-11-22 14:57] hasparus commented on #2361
Hey @felipe-silva-devtech, to be frank I don't think that your suggestion fixes your problem.

It may change the warning text, because `packageInfo` was inferred from our import, but it doesn't solve anything.

You are building an [UMD](https://github.com/umdjs/umd) build with Rollup, and it expects the package.json from Emotion to be assigned to a global variable. It doesn't know that variable, b

[2022-11-22 14:57] #2361 closed, assigned to nobody

[2022-11-23 02:16] hasparus commented on #2198
This might be already fixed after we migrated to PNPM. We gotta test it with Yarn 3 and make sure it installs flawlessly.

cc @lachlanjc

[2022-11-23 02:21] hasparus commented on #2198
Quoting from my post in the discussion:

To close this issue, we would need to continuously ensure that Theme UI can properly install in Yarn 3 projects.
The work needed is not the modification of some `package.json` file, it's a TypeScript or Bash script, a GitHub action step that would verify we're installing without errors.

[2022-11-24 04:06] charleshoong97 opened #2368 "Different fonts for each URL"
Instead of set the font family for each of the heading and body, can we have the custom fonts for different URL?

the fonts are the one inside theme.js as below
[code]

[2022-11-24 12:50] dani-mp opened #2369 "Flex sx prop don't take a function"
**Describe the bug**
According to [the docs](https://theme-ui.com/components/flex):

But it breaks when we pass a function to the `sx` prop, instead of an object. You can see why when looking at its implementation, where we spread the `sx` prop, assuming it's always an object.

**To Reproduce**
Steps to reproduce the behavior:

1. Use `Flex` and add some styles using the `sx` prop as an object.
2.

[2022-11-26 23:17] #2368 closed, assigned to nobody